= cache pull_request do
  .pull_request{:class => parameterize_language(pull_request.language)}
    = link_to image_tag(pull_request.user.avatar_url, :width => 80, :height => 80, :alt => pull_request.user.nickname), user_path(pull_request.user.nickname), :rel => 'tooltip', :data => { :original_title => pull_request.user.nickname }, :class => 'image'
    - if pull_request.language.present?
      .language.label.label-info.pull-right
        = link_to pull_request.language, language_path(pull_request.language)
    %h4
      = link_to pull_request.title, pull_request.issue_url, :target => :_blank
      %span.meta
        on
        = link_to pull_request.repo_name, "https://github.com/#{pull_request.repo_name}", :target => :_blank
        %small
          %abbr.timeago{:title => pull_request.created_at.iso8601}= pull_request.created_at
    %p.js-emoji=truncate pull_request.body, :length => 240
