%li
  %h4
    = link_to pull_request.title, pull_request.issue_url, :target => :blank
    on
    = link_to pull_request.repo_name, "https://github.com/#{pull_request.repo_name}", :target => :blank
    \-
    = distance_of_time_in_words_to_now pull_request.created_at
    ago
  = truncate pull_request.body, :length => 200