<li class="avatar-cell">
  <%= link_to organisation_path(organisation.login), class: "avatar-link" do %>
    <%= image_tag(organisation.avatar_url(160), alt: organisation.login, class: "avatar-img") %>
    <div class="username">@<%= organisation.login %></div>
    <span class="pr-badge">
      <%= octicon "git-pull-request", :height => 9 %>
      <%= organisation.pull_request_count %>
    </span>
  <% end %>
</li>
