.row
  .col-md-10
    %h2 #{@organisation.login}
    = link_to "#{@organisation.login} on GitHub", "https://github.com/#{@organisation.login}", class: 'btn btn-default'

  .col-md-2
    .avatar= image_tag(@organisation.avatar_url(160), :width => 80, :height => 80, :alt => @organisation.login)


#users.row.clearfix
  .col-md-12

    %h3=t("organisations.members", count: @organisation.users.count)

    .users
      %ul.avatar-list.clearfix
        = render @organisation.users.order('pull_requests_count desc')

#pull_requests
  %h3= t("organisations.pull_requests", count: @organisation.pull_request_count)
  = render @organisation.pull_requests
