%h2 #{@language}

- if @users.any?
  #users.row-fluid.clearfix
    .span12
      %h3
        =t("language.developers.count", count: user_count, language: @language)
        = link_to t("view_all"), users_language_path(@language.downcase), :class => 'btn'

        %ul.clearfix
          = render @users

- if @pull_requests.any?
  #pull_requests.row-fluid.clearfix
    .span12
      %h3
        =t("language.pull_requests.latest.count", count: pull_request_count_for_language, language: @language)
        = link_to t("view_all"), pull_requests_language_path(@language.downcase), :class => 'btn pull-right'

      = render @pull_requests

- if @projects.any?
  #projects.row-fluid.clearfix
    .span12
      %h3
        = t("language.projects_count", count: project_count_for_language, language: @language)
        = link_to t("language.projects.suggest", language: @language), new_project_path(language: @language.downcase), :class => 'btn pull-right'
        = link_to t("view_all"), projects_language_path(@language.downcase), :class => 'btn pull-right'

    = render @projects
