<%= cache pull_request do %>
  <div class="pull_request row-fluid clearfix">
    <div class="span12">
      <h4>
        <%= link_to pull_request.title, pull_request.issue_url, :target => :_blank %>
        <span class="meta">
          on
          <%= link_to pull_request.repo_name, "https://github.com/#{pull_request.repo_name}", :target => :_blank %>
          <small>
            <abbr class="timeago" title="<%= pull_request.created_at.iso8601 %>">
              <%= pull_request.created_at %>
            </abbr>
          </small>
          <% if pull_request.language.present? %>
            <div class="language label label-info pull-right">
              <%= link_to pull_request.language, language_path(pull_request.language) %>
            </div>
          <% end %>
        </span>
      </h4>
      <p>
        <div class="js-emoji">
          <%= truncate pull_request.body, :length => 300 %>
        </div>
      </p>
    </div>
  </div>
<% end %>
