#users.row.clearfix
  .col-md-12
    %h3
      = user_count
      - if @language
        = t("developers_using_language", language: @language)
      - else
        = t("developers_involved")

    %div.users
      %ul.clearfix.userlist
        = render @users

      = link_to_next_page @users, t("more"), remote: true, class: 'btn btn-success more'
