.row.clearfix.fullwidth-panel
  .col-md-12
    %h3
      = number_with_delimiter user_count
      - if @language
        = t("developers_using_language", language: @language)
      - else
        = t("developers_involved")

    .js-user-pagination
      %ul.clearfix.avatar-list.avatar-list-lg.js-user-list
        = render @users

      = link_to_next_page @users, t("more"), remote: true, class: 'btn btn-success more'
