.title-block.profile-title-block.row
  .col-sm-3
    = image_tag(@user.avatar_url(200), :alt => @user.nickname, :class => "profile-avatar")
  .col-sm-9.profile-details
    - if @user == current_user
      .profile-actions.hidden-xs
        = link_to preferences_path, class: "btn btn-default btn-sm" do
          %span.octicon.octicon-gear
          = t("navigation.preferences")
        - if current_user.twitter_linked?
          = link_to t("preferences.remove"), twitter_remove_path, method: :delete, class: 'btn btn-danger btn-sm'
        - else
          = link_to t('twitter.link_account.text'), '/auth/twitter', :class => 'btn btn-info btn-sm', rel: 'tooltip', title: t('twitter.link_account.tooltip')
    %h2.username #{@user.nickname}
    .profile-item
      = gratipay_button @user.nickname, "btn btn-xs btn-success"
      - if @user.twitter_nickname.present?
        %a{:href => "https://twitter.com/#{@user.twitter_nickname}", :class => 'twitter-follow-button'}
          =t("follow_user", twitter: @user.twitter_nickname)
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      = github_button @user.nickname
    - if @user.skills.any?
      .profile-item
        %span.tiny-title=t("preferred_languages")
        - @user.languages.each do |language|
          %span{ :class => language.downcase }
            .label.label-info.language
              = link_to language, language_path(language)
    - if @user.organisations.any?
      .profile-item
        %span.tiny-title=t('user.organisations')
        %ul.avatar-list.avatar-list-xs
          - @user.organisations.each do |organisation|
            %li.avatar-cell
              = link_to organisation_path(organisation.login), class: "avatar-link", rel: "tooltip", title: organisation.login, data: { placement: "bottom" } do
                = image_tag(organisation.avatar_url, alt: organisation.login, class: "avatar-img")
    .profile-pull-request-count
      %span.octicon.octicon-gift
      =t("user.pull_request_count", user: @user.nickname, count: @user.pull_requests.year(current_year).count, year: current_year)

.row
  .col-sm-12
    - if @user.gifts.year(current_year).any? or @user.pull_requests.year(current_year).any?
      %ul#presents.nav.nav-tabs
        %li
          %a.active{"data-toggle" =>"tab", href: "#gifts"}Gifts
        %li
          %a{"data-toggle" =>"tab", href: "#pull_requests"}Pull Requests
      .tab-content
        #gifts.tab-pane
          = render :partial => 'calendar', :object => @calendar
        #pull_requests.tab-pane
          = render partial: 'users/pull_request', collection: @user.pull_requests.year(current_year).latest(nil)
    - elsif !PullRequest.in_date_range?
      .alert.alert-info
        24 Pull Requests runs from 1st-24th December, come back then to see
        #{@user.nickname}'s progress.
    - else
      .alert.alert-warning=t("user.grinchy_message", user: content_tag(:strong, "@" + @user.nickname), year: current_year).html_safe

    %h3= t("user.coderwall.title")
    #coderwall-content{:data => {:nickname => "#{@user.coderwall_username}"}}
