.row-fluid.clearfix
  .span4
    .avatar= image_tag(gravatar_url(user.gravatar_id, 400), :width => 400, :alt =>user.nickname)
  .span8
    %h2
      #{user.nickname}'s
      Pull Requests
    = link_to 'Github Profile', "https://github.com/#{user.nickname}", :target => :blank

    - if user.skills.any?
      %h4 Preferred Languages
      = user.languages.to_sentence

    %h4 Recent Pull Requests
    - if pull_requests.any?
      %ul
        = render :partial => 'pull_requests/pull_request', :collection => pull_requests
    - else
      %p
        = user.nickname
        hasn't sent any pull requests yet, what a grinch!