.row.clearfix
  .span4
    = image_tag(gravatar_url(user.gravatar_id, 400), :width => 400, :alt =>user.nickname)
  .span8
    %h2 Viewing #{user.nickname}'s public profile
    = link_to 'Github Profile', "https://github.com/#{user.nickname}", :target => :blank
    
    %h3 Recent Pull Requests

    %ul
      - for pull in pull_requests
        %li
          %h4= link_to pull.title, pull.issue_url, :target => :blank
          = pull.body