.row-fluid
  .span10
    %h2
      #{@user.nickname}
    .row-fluid.clearfix.social-buttons
      .span4
        = github_button @user.nickname
      - if @user.twitter_nickname.present?
        .span6
          %a{:href => "https://twitter.com/#{@user.twitter_nickname}", :class => 'twitter-follow-button'}
            Follow
            @#{@user.twitter_nickname}
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    - if @user.skills.any?
      %h4 Preferred Languages
      = @user.languages.to_sentence

    %h4 Coderwall Badges
    #coderwall-content{:data => {:nickname => "#{@user.nickname}"}}

  .span2
    .avatar= image_tag(gravatar_url(@user.gravatar_id, 100), :width => 100, :alt => @user.nickname)

.row-fluid
  .span12

    %h3 24 Pull Requests
    %h4
      =@user.nickname
      has made
      =@user.pull_requests.count
      total pull requests so far.
    = render :partial => 'calendar', :object => @calendar

