.row-fluid
  .span10
    %h2
      #{user.nickname}
    = link_to 'Github Profile', "https://github.com/#{user.nickname}", :target => :blank
    - if user.twitter_linked?
      = link_to 'Twitter Profile', "https://twitter.com/#{user.twitter_nickname}", :target => :blank

    - if user.skills.any?
      %h4 Preferred Languages
      = user.languages.to_sentence

  .span2
    .avatar= image_tag(gravatar_url(user.gravatar_id, 100), :width => 100, :alt => user.nickname)

.row-fluid
  .span12

    %h3 24 Pull Requests
    = render :partial => 'calendar', :object => calendar

