<div class="event-item">
  <h2>
    <%= link_to event.name, event %>
  </h2>
  <small>
    <%= octicon "location" %>
    <%= event.location %>
    <br/>
    <%= octicon "clock" %>
    <%= event.formatted_date %>
  </small>
</div>
