<%= form_for @event, html: { class: "simple_form form-horizontal" } do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :organiser, class: "col-sm-2 control-label" %>
    <div class="col-sm-10 col-md-4">
      <%= f.text_field :organiser, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-10 col-md-4">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :location, class: "col-sm-2 control-label" %>
    <div class="col-sm-10 col-md-4">
      <%= f.text_field :location, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :url, class: "col-sm-2 control-label" %>
    <div class="col-sm-10 col-md-4">
      <%= f.text_field :url, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :start_time, class: "col-sm-2 control-label" %>
    <div class="col-sm-10 col-md-4">
      <%= f.date_field :start_time, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10 col-md-4">
      <%= f.submit "Create event", class: "btn btn-default" %>
    </div>
  </div>

<% end %>
