.title-block
  %h2.block-title= t("events.title")
  %p= t("events.details")

  = link_to t("events.index.host_an_event"), new_event_path, class: 'btn btn-default'

- if @upcoming_events.empty?
  %h4
    %i
      = t("events.index.no_upcoming_events")
      = link_to t("events.index.host_an_event"), new_event_path
- else
  .row
    .col-md-6
      %hr
      .map
      .js-pins
        - @upcoming_events.each do |event|
          = link_to "", event, class: "pin", data: { latitude: event.latitude, longitude: event.longitude }
    .col-sm-12.col-md-6
      = render @upcoming_events
- unless @past_events.empty?
  %hr
  .row
    %p
      %button.btn.btn-default.toggle-past-events
        %span Show Past 24 Pull Requests Events
  .row.past-events.hidden
    %h4 Past 24 Pull Requests Events
    .col-md-12
      = render @past_events
