.title-block
  %h2.block-title= t("events.title")
  %p= t("events.details")

  = link_to t("events.index.host_an_event"), new_event_path, class: 'btn btn-default'

- if @events.empty?
  %h4
    %i
      = t("events.index.no_upcoming_events")
      = link_to t("events.index.host_an_event"), new_event_path
- else
  .row
    .col-md-6
      %hr
      .map
      .js-pins
        - @events.each do |event|
          = link_to "", event, class: "pin", data: { latitude: event.latitude, longitude: event.longitude }
    .col-sm-12.col-md-6
      - @events.each do |event|
        .event-item
          %h2
            = link_to event.name, event
          %small
            %span.octicon.octicon-location
            = event.location
            %br
            %span.octicon.octicon-clock
            = event.formatted_date
