.row
  .col-sm-12.col-md-6
    .map{"data-latitude" => @event.latitude, "data-longitude" => @event.longitude}
    .js-pins
      %span.pin{"data-latitude" => @event.latitude, "data-longitude" => @event.longitude}
  .col-sm-12.col-md-6
    %h1
      = @event.organiser
      %small= @event.location
      %br
        %small= @event.formatted_date
    %p
    %p= @event.description
    = link_to t("events.show.view_event_details"), @event.url, class: "btn btn-primary"
