.row
  .col-sm-12.col-md-6
    .map{"data-latitude" => @event.latitude, "data-longitude" => @event.longitude}
    .js-pins
      %span.pin{"data-latitude" => @event.latitude, "data-longitude" => @event.longitude}
  .col-sm-12.col-md-6
    %h1
      = @event.name
      %br
      %small= @event.location
      %br
      %small= @event.formatted_date
    %hr
    %p.js-emoji= @event.description
    = link_to t("events.show.view_event_details"), @event.url, class: "btn btn-primary"

    - if @event.can_edit?(current_user)
      %hr
      = link_to t("events.show.edit_event"), edit_event_path(@event), class: "btn btn-default"
      = link_to t("events.show.destroy_event"), @event, data: { confirm: I18n.t("events.show.confirm_destroy") }, method: :delete, class: "btn btn-danger"
