<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="map" data-latitude="<%= @event.latitude %>" data-longitude="<%= @event.longitude %>"></div>
    <div class="js-pins">
      <span class="pin" data-latitude="<%= @event.latitude %>" data-longitude="<%= @event.longitude %>">
    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <h1>
      <%= @event.organiser %> <small><%= @event.location %></small><br>
      <small><%= @event.formatted_date %></small>
    </h1>
    <p></p>
    <p><%= @event.description %></p>
    <%= link_to "View more details", @event.url, class: "btn btn-primary" %>
  </div>
</div>
