<% if @current_user.contributions.year(current_year).count > 0 %>
  <%= simple_form_for gift_form.gift, wrapper: :bootstrap3_horizontal, defaults: {right_column_html: {class: "col-lg-3 col-md-3"}, label_html: {class: "col-lg-2 col-md-2"} }, :html => {:class => 'form-horizontal', :role => "form"}  do |form| %>
    <% if gift_form.giftable_dates.any? %>
      <%= form.input :date, :label => t("gifts.form.date"), :collection => gift_form.giftable_dates %>
    <% end %>
    <%= form.input :contribution_id, :label => t("gifts.form.pull_requests"), :collection => gift_form.contributions_for_select %>
    <div class="form-group">
      <div class="col-md-offset-2 col-sm-10">
        <%= form.button :submit, t("gifts.form.gift_it"), {class: "btn-success"} %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-warning">
    <%= t("gifts.no_pull_requests", user: content_tag(:strong, "@" + @current_user.nickname), year: current_year).html_safe %>
  </div>
<% end %>
