= simple_form_for gift_form.gift, wrapper: :bootstrap3_horizontal, defaults: {right_column_html: {class: "col-lg-3 col-md-3"}, label_html: {class: "col-lg-2 col-md-2"} }, :html => {:class => 'form-horizontal', :role => "form"}  do |form|

  - if gift_form.giftable_dates.any?
    = form.input :date, :collection => gift_form.giftable_dates

  = form.input :pull_request_id, :collection => gift_form.pull_requests_for_select
  = form.input :tweet, as: :boolean, label: false, wrapper_html: { class: "checkbox" } do
    = form.check_box :tweet, {}, "true", "false"
    Tweet about your gift!

  .form-group
    .col-md-offset-2.col-sm-10
      = form.button :submit, 'Gift it!', {class: "btn-success"}
