%h2=t("gifts.title")

%p=t("gifts.description").html_safe

%p=t("gifts.view_your_gifts", calendar_link: link_to('public calendar', current_user.nickname)).html_safe

%table.table.table-striped.table-condensed.table-hover#gifts
  .tbody
    - calendar.each_day do |date, gift|
      %tr
        %td
          %strong= "#{ date.strftime('%B') } #{ date.mday.ordinalize }"
        %td
          - if gift
            = link_to gift.pull_request_title, gift.pull_request_issue_url
            = link_to t("change"), edit_gift_path(gift), :class => 'btn btn-small pull-right'
          - else
            = t("gifts.none")
            = link_to t("change"), new_gift_path(:date => date), :class => 'btn btn-small pull-right'
