<h3>
  <%= t("projects.edit.title") %>
</h3>
<%= simple_form_for @project, url: admin_project_path(@project), wrapper: :bootstrap3_horizontal, defaults: {right_column_html: {class: "col-lg-3 col-md-3"}, label_html: {class: "col-lg-2 col-md-2"} }, :html => {:class => 'form-horizontal', :role => "form"} do |form| %>
  <%= form.input :name, :label => 'Project Name' %>
  <%= form.input :github_url %>
  <%= form.input :featured %>
  <%= form.input :description, :input_html => {:rows => 5}, :label => 'Summary' %>
  <%= form.input :main_language, :input_html => {:data => {:provide => "typeahead", :source => Project::LANGUAGES}, :autocomplete => 'off', :placeholder => "Ruby, C++, Java, Python..."} %>
  <%= form.association :labels, collection: Label.all, as: :check_boxes %>
  <div class="form-group">
    <div class="col-md-offset-2 col-sm-10">
      <%= form.button :submit, t("projects.suggestion.update") %>
      or
      <%= link_to t("cancel"), admin_projects_path %>
    </div>
  </div>
<% end %>
