<h3>
  <%= t("projects.admin.title") %>
</h3>
<h4>
  <%= t("projects.admin.search") %>
</h4>
<%= simple_form_for "",  url: admin_projects_path, method: :get, remote: true, html: { class: 'form-search' } do |f| %>
  <%= f.input :repository, placeholder: t("exempli_gratia") + "24pullrequests/24pullrequests", label: false, input_html: { class: "input-large search-query" , value: params[:repository] } %>
  <%= f.submit t("search"), class: 'btn' %>
<% end %>
<hr/>
<div id="projects">
  <%= render partial: 'projects/editable_project', collection:  @projects, as: :project, locals: { admin: true } %>
</div>
