.project{:class => "#{parameterize_language(project.main_language)} #{class_for_inactive(project)}", :data => {:id => project.id}}
  .title.clearfix
    %h4
      = project.name
      - if project.inactive?
        %small= inactive?(project)
        = link_to t("delete"), path_for_project(project, admin),
                                 method: :delete,
                                 data: { confirm: 'Are you sure you want to delete this project?' },
                                 class: 'btn btn-danger pull-right'
      - else
        = link_to t("deactivate"), path_for_project(project, admin),
                                method: :delete,
                                data: { confirm: "Are you sure you want to deactivate this project?" },
                                class: 'btn btn-danger pull-right'
        = link_to t("edit"), edit_path_for_project(project, admin), class: 'btn pull-right'

    = link_to project.github_repository, project.github_url, :target => '_blank'
  %p.js-emoji= truncate project.description, :length => 200
  .language.label.label-info
    = link_to project.main_language, language_path(project.main_language.downcase)
  - project.labels.each do |label|
    .project-label
      %span.octicon.octicon-tag
      = label.name
