.project{:class => "#{parameterize_language(project.main_language)} #{class_for_inactive(project)}", :data => {:id => project.id}}
  .title.clearfix
    %h4
      = project.name
      - if project.inactive
        %small= inactive?(project)
      - unless project.inactive.eql?(true)
        = link_to t("deactive"), path_for_project(project, admin),
                                method: :delete,
                                data: { confirm: "Are you sure you want to deactive this project?" },
                                class: 'btn btn-danger pull-right'
        = link_to t("edit"), edit_path_for_project(project, admin), class: 'btn pull-right'

    = link_to project.github_repository, project.github_url, :target => '_blank'
  %p
    = truncate project.description, :length => 200
  .language.label.label-info
    = link_to project.main_language, language_path(project.main_language.downcase)
