= simple_form_for @project, :html => {:class => 'form-horizontal'} do |form|
  = form.input :name, :input_html => {:class => "span4"}, :label => 'Project Name'
  = form.input :github_url, :input_html => {:class => "span4"}, disabled: @project.persisted?
  = form.input :description, :input_html => {:rows => 5, :class => "span4"}, :label => 'Summary'
  = form.input :main_language, :input_html => {:class => "span4", :data => {:provide => "typeahead", :source => Project::LANGUAGES}, :autocomplete => 'off', :placeholder => "Ruby, C++, Java, Python..."}
  .control-group
    .controls
      = form.button :submit, 'Submit Project'
      =t("or")
      = link_to t("cancel"), projects_path

