<div class="project <%= parameterize_language(project.main_language) %>" data-id="<%= project.id %>">
  <% if defined?(show_avatar) && show_avatar %>
    <%= link_to image_tag(avatar_url(project), :width => 80, :height => 80), project.url, :rel => 'tooltip', :data => { :original_title => project.name }, :class => 'image' %>
  <% end %>
  <div class="language label label-info pull-right">
    <%= link_to project.main_language, language_path(project.main_language.downcase) %>
  </div>
  <%= link_to project.url, :target => "_blank", :title => project.github_repository, :class => "project-link" do %>
    <span class="project-title">
      <%= project.name %>
    </span>
    <p class="js-emoji">
      <%= project.description %>
    </p>
    <% unless project.contributing_url.blank? %>
      <p class="contributing-url">
        <%= link_to t("projects.contributing"), project.contributing_url, target: "_blank" %>
      </p>
    <% end %>
  <% end %>
  <% project.labels.each do |label| %>
    <div class="project-label">
      <%= octicon "tag", :height => 10 %>
      <%= link_to label.name, "https://github.com/#{project.github_repository}/labels/#{label.name}", target: "_blank" %>
    </div>
  <% end %>
  <% unless project.contribulator.blank? %>
    <div class="project-label">
      <%= octicon "pulse", :height => 10 %>
      <span class='contribulator'>Contribulator score: <%= project.contribulator %></span>
    </div>
  <% end %>
</div>
