.project{:class => parameterize_language(project.main_language), :data => {:id => project.id}}
  - if defined?(show_avatar) && show_avatar
    = link_to image_tag(project.submitted_by.avatar_url, :width => 80, :height => 80, :alt => project.submitted_by.nickname), user_path(project.submitted_by.nickname), :rel => 'tooltip', :data => { :original_title => project.submitted_by.nickname }, :class => 'image'
  .language.label.label-info.pull-right
    = link_to project.main_language, language_path(project.main_language.downcase)

  = link_to project.github_url, :target => "_blank", :title => project.github_repository, :class => "project-link" do
    %span.project-title= project.name
    %p.js-emoji= project.description

  - project.labels.each do |label|
    .project-label
      %span.octicon.octicon-tag
      = label.name
