.project{:class => parameterize_language(project.main_language), :data => {:id => project.id}}
  .language.label.label-info.pull-right
    = link_to project.main_language, language_path(project.main_language.downcase)

  = link_to project.github_url, :target => "_blank", :title => project.github_repository, :class => "project-link" do
    %span.project-title= project.name
    %p.js-emoji= project.description

  - project.labels.each do |label|
    .project-label
      %span.octicon.octicon-tag
      = label.name
