= cache project do
  .project.col-md-6{:class => parameterize_language(project.main_language), :data => {:id => project.id}}
    .title.clearfix
      %h4
        = project.name

      = link_to project.github_repository, project.github_url, :target => '_blank'
    %p
      = truncate project.description, :length => 200
    .language.label.label-info
      = link_to project.main_language, language_path(project.main_language.downcase)
