%h2
  Suggested Projects
  = link_to 'Suggest a project', new_project_path, :class => 'btn'

%ul#languages.row
  %li
    = link_to 'Everything', '#'
  - Project::LANGUAGES.each do |language|
    %li
      = link_to language, '#', :data => {:language => language}

.row#projects
  - @projects.each do |project|
    .span4{:class => project.main_language, :data => {:id => project.id}}
      %h3= link_to project.name, project.github_url, :target => '_blank'
      = project.description