%h2
  = Project.count
  = t("suggested_projects")
  = link_to t("suggest_project"), new_project_path, :class => 'btn pull-right'

%p=t("projects.help_out")

%p=t("projects.suggest_new")
%hr
%h4=t("projects.filter_by_language")
= simple_form_for :project, url: filter_projects_path, method: :get, remote: true  do |form|
  = form.input :languages, collection: Project::LANGUAGES, as: :check_boxes
  = form.input :labels, collection: Label.all.map(&:name), as: :check_boxes
  = form.submit "Search"

%hr
- if @has_more_projects
  #projects.row-fluid
    %div.span12
      = render @projects
  %div#someprojects.row-fluid
    %div.span12
      = link_to_next_page @projects, t("more"), remote: true, class: 'btn btn-success more'

#noprojects
  %p=t("projects.suggest", suggest_link: link_to(t("projects.suggest_link_text"), new_project_path)).html_safe
