%h2
  = number_with_delimiter Project.active.count
  = t("suggested_projects")
  = link_to t("suggest_project"), new_project_path, :class => 'btn btn-default pull-right'

%p=t("projects.help_out")

%p=t("projects.suggest_new")
%hr
%h4 Filter:
= simple_form_for :project, url: projects_path, method: :get, remote: true, html: { id: 'filters' }  do |form|
  .icheckbox_line.checked#clear_labels All Labels
  = form.input :labels, collection: Label.all.map(&:name), as: :check_boxes, label_method: lambda { |owner| content_tag(:span, owner) }, label: false, :checked => lambda { |v| @labels.include?(v) }
  .icheckbox_line.checked#clear_languages All Languages
  = form.input :languages, collection: Project::LANGUAGES, as: :check_boxes, label_method: lambda { |owner| content_tag(:span, owner) }, label: false, :checked => lambda { |v| @languages.include?(v) }
  = form.submit "Search"

%hr

#projects.row
  .col-md-12
    = render @projects

- if @has_more_projects
  #someprojects.row
    .col-md-12
      = link_to_next_page @projects, t("more"), remote: true, class: 'btn btn-success more'

#noprojects
  %p=t("projects.suggest", suggest_link: link_to(t("projects.suggest_link_text"), new_project_path)).html_safe
