%h2
  = Project.count
  = t("suggested_projects")
  = link_to t("suggest_project"), new_project_path, :class => 'btn pull-right'

%p=t("projects.help_out")

%p=t("projects.suggest_new")
%hr
%h4=t("projects.filter_by_language")
%ul#languages.row
  %li.highlighted
    = link_to t("everything"), '#'
  - if current_user
    %li.highlighted
      = language_link @current_user_languages, t("projects.for_you")
  - Project::LANGUAGES.each do |language|
    %li
      = language_link language, language
%hr
#projects.row-fluid
  %div.span12
    = render @projects
%div.row-fluid
  %div.span12
    = link_to_next_page @projects, t("more"), remote: true, class: 'btn btn-success more'

#noprojects
  %p=t("projects.suggest", suggest_link: link_to(t("projects.suggest_link_text"), new_project_path)).html_safe
