%h2
  = Project.count
  = t("suggested_projects")
  = link_to t("suggest_project"), new_project_path, :class => 'btn btn-default pull-right'

%p=t("projects.help_out")

%p=t("projects.suggest_new")
%hr
%h4 Filter:
= simple_form_for :project, url: filter_projects_path, method: :get, remote: true, html: { id: 'filters' }  do |form|
  .icheckbox_line.checked#clear_labels All Labels
  = form.input :labels, collection: Label.all.map(&:name), as: :check_boxes, label_method: lambda { |owner| "" }, label: false
  .icheckbox_line.checked#clear_languages All Languages
  = form.input :languages, collection: Project::LANGUAGES, as: :check_boxes, label_method: lambda { |owner| "" }, label: false, :selected => lambda { |v| current_user_languages.include?(v) }
  = form.submit "Search", hidden: true

%hr
- if @has_more_projects
  #projects.row
    .col-md-12
      = render @projects
  #someprojects.row
    .col-md-12
      = link_to_next_page @projects, t("more"), remote: true, class: 'btn btn-success more'

#noprojects
  %p=t("projects.suggest", suggest_link: link_to(t("projects.suggest_link_text"), new_project_path)).html_safe
