<section>
  <h3>
    <%= t("contributors.title") %>
  </h3>
  <div class="row">
    <div class="col-md-12">
      <div id="map" style="width: 100%; height: 300px;"></div>
      <p class="text-muted">
        <%= t("contributors.location_privacy") %>
      </p>
      <hr/>
    </div>
  </div>
  <div class="row">
    <% users.each_slice(6) do |row| %>
      <ul class="thumbnails clearfix">
        <% row.each do |user| %>
          <li class="collaborator col-md-2 col-sm-4 col-xs-6">
            <div class="thumbnail">
              <%= link_to image_tag(user.avatar_url(200), :width => 200, :height => 200, :alt => user.nickname).html_safe, user %>
              <div class="caption">
                <strong>
                  <%= link_to "@#{user.nickname}", user %>
                </strong>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <script>var locations = <%= raw @map_markers.to_json %>;</script>
  <%= javascript_include_tag "//maps.googleapis.com/maps/api/js?key=AIzaSyCyeGsG7Xqt7iyOUm8JHXxl0Lcv_vYrpI4&callback=createMap" %>
</section>
