<div class="text-center">
  <h1>Happy Holidays!</h1>
  <%= image_tag 'finished.png', width: 700, class: 'thanks' %>
</div>

<div class="alert alert-info">
  <h2>
    24 Pull Requests taking another year off, maybe see you next year.
  </h2>

  <p>
    <%= t("information.happy_holidays_see_you") %>
  </p>
  <hr/>
  <p>
    <%= t("information.help_open_source") %>
  </p>
  <h4>
    <%= link_to 'CodeTriage', 'https://www.codetriage.com/' %>
  </h4>
  <p>
    <%= t("information.codetriage") %>
  </p>
  <h4>
    <%= link_to 'Contrib', 'https://gauger.io/contrib' %>
  </h4>
  <p>
    Find meaningful Open Source contribution opportunities.
  </p>
  <h4>
    <%= link_to 'Ovio.org', 'https://www.ovio.org/projects' %>
  </h4>
  <p>
    <%= t("information.ovio") %>
  </p>
  <hr/>
  Happy Hacking!
</div>
