%h2 About 24 Pull Requests

%p 24 Pull Requests is a little project to promote open source collaboration during december.

%p The idea is basically "Send a pull request every day in december leading up to Christmas", encouraging developers to give back to open source with little gifts of code throughout december.

%p The site also provides suggested projects to help with, guides for contributing and highlight good pull requests submitted each day.

%p
  The site development is open source on github: 
  = link_to 'https://github.com/andrew/24pullrequests', 'https://github.com/andrew/24pullrequests'

%p
  It's also on twitter:
  = link_to 'http://twitter.com/24pullrequests', 'http://twitter.com/24pullrequests'

%section
  %h3 Sponsors
  24 Pull Requests was made possible thanks to the help and donations of some great sponsors.

  Many thanks to...

  %section
    =link_to 'http://dnsimple.com' do
      = image_tag 'sponsors/dnsimple.png', :class => 'img-polaroid'
    = link_to 'http://cooperpress.com' do
      = image_tag 'sponsors/cooper-press.png', :class => 'img-polaroid'
