%h2=t("about.title")

%p=t("about.description")

%p=t("about.idea")

%p=t("about.more_info")

%p
  =t("about.on_github")
  = link_to 'github.com/andrew/24pullrequests', 'https://github.com/andrew/24pullrequests'

%p
  =t("about.on_twitter")
  = link_to 'twitter.com/24pullrequests', 'https://twitter.com/24pullrequests'

%section
  %h3=t("about.sponsors.title")
  =t("about.sponsors.details")

  =t("about.sponsors.thanks")

  %section.clearfix
    =link_to 'http://dnsimple.com', :class => 'col-md-3' do
      = image_tag 'sponsors/dnsimple.png', :class => 'thumbnail'
    = link_to 'http://postgres.heroku.com/', :class => 'col-md-3' do
      = image_tag 'sponsors/heroku-pg.png', :class => 'thumbnail'

  %p
    =t("about.sponsors.get_in_touch")
    = mail_to 'info@24pullrequests.com'

= render 'collaborators', users: @collaborators
