%h2=t("about.title")

%p=t("about.description")

%p=t("about.idea")

%p=t("about.more_info")

%p
  =t("about.on_github")
  = link_to 'github.com/24pullrequests/24pullrequests', 'https://github.com/24pullrequests/24pullrequests'

%p
  =t("about.on_twitter")
  = link_to 'twitter.com/24pullrequests', 'https://twitter.com/24pullrequests'

%section
  %h3= t("about.sponsors.title")
  %p= raw("#{t("about.sponsors.details")} #{link_to(t("about.sponsors.thanks"), sponsors_path)}")

= render 'contributors', users: @contributors
