%h2 About 24 Pull Requests

%p 24 Pull Requests is a little project to promote open source collaboration during December.

%p The idea is basically "Send a pull request every day in December leading up to Christmas", encouraging developers to give back to open source with little gifts of code throughout December.

%p The site also provides suggested projects to help with, guides for contributing and highlights good pull requests submitted each day.

%p
  The site development is open source on GitHub: 
  = link_to 'github.com/andrew/24pullrequests', 'https://github.com/andrew/24pullrequests'

%p
  We are also on Twitter:
  = link_to 'twitter.com/24pullrequests', 'https://twitter.com/24pullrequests'

%section
  %h3 Sponsors
  24 Pull Requests was made possible thanks to the help and donations of some great sponsors.

  Many thanks to...

  %section
    =link_to 'http://dnsimple.com' do
      = image_tag 'sponsors/dnsimple.png', :class => 'img-polaroid'
    = link_to 'http://cooperpress.com' do
      = image_tag 'sponsors/cooper-press.png', :class => 'img-polaroid'
    = link_to 'http://forwardtechnology.co.uk' do
      = image_tag 'sponsors/forward.png', :class => 'img-polaroid'

  %p
    If you'd like to get in touch about sponsorship or anything else, drop us an email:
    = mail_to 'info@24pullrequests.com'