<h1>
  <%= t("api.title") %>
</h1>
<p>
  <%= t("api.description") %>
</p>
<h3>
  <%= t("api.pagination.title") %>
</h3>
<p>
  <%= t("api.pagination.details") %>
</p>
<pre>
  $ curl https://24pullrequests.com/users.json?page=2
</pre>
<h3>
  <%= t("api.callback.title") %>
</h3>
<p>
  <%= t("api.callback.details") %>
</p>
<pre>
  $ curl https://24pullrequests.com/users.json?callback=foo

  foo([
         {
            id:120,
            nickname:"dr-zion-schaefer",
            gravatar_id:"fde332d18b14c52bc41b50f4952f075a",
            github_profile:"https://github.com/dr-zion-schaefer",
            contributions_count:20,
            link:"http://localhost:3000/users/dr-zion-schaefer",
            organisations:[
               {
                  login:"consequuntur",
                  avatar_url:"https://1.gravatar.com/avatar/....",
                  link:"http://localhost:3000/organisations/75"
               },
               {
                  login:"tempore",
                  avatar_url:"https://1.gravatar.com/avatar/....",
                  link:"http://localhost:3000/organisations/76"
               }
            ],
            pull_requests:[
               {
                  title:"voluptatem",
                  issue_url:"http://runolfonvonrueden.net/rebecca",
                  repo_name:"ipsam",
                  body:"Fuga ut quo in et nulla quae. Ullam tempora vitae quis.",
                  created_at:"2013-11-20T17:47:27.855Z"
               },
               {
                  title:"omnis",
                  issue_url:"http://kunde.org/lea_yundt",
                  repo_name:"porro",
                  body:"Qui nesciunt laudantium rerum voluptatem corporis ratione.",
                  created_at:"2013-11-21T17:47:27.850Z"
               },
               {
                  title:"expedita",
                  issue_url:"http://hirthe.name/josefina",
                  repo_name:"numquam",
                  body:"Reprehenderit nostrum laudantium quis ducimus ut.",
                  created_at:"2013-12-09T17:47:27.691Z"
               }
            ]
         }
      ]
    )
</pre>
<div class="alert alert-info">
  <strong>Want more options?</strong>
  Open an issue on
  <%= link_to 'GitHub', 'https://github.com/24pullrequests/24pullrequests' %>
  if you would like more features in the API, or even send us a pull request!
</div>
<h2>
  <%= t("api.projects.title") %>
</h2>
<p>
  <%= t("api.projects.details") %>
</p>
<pre>
  $ curl https://24pullrequests.com/projects.json

  [
    {
      "description":"This very site!",
      "github_url":"https://github.com/24pullrequests/24pullrequests",
      "main_language":"Ruby"
    }
  ]
</pre>
<h2>
  <%= t("api.pull_requests.title") %>
</h2>
<p>
  <%= t("api.pull_requests.details") %>
</p>
<pre>
  $ curl https://24pullrequests.com/pull_requests.json

  [
    {
      "title":"Fix Date Due search and capture Monthly Charge search error",
      "issue_url":"https://github.com/poundifdef/VirginMobileMinutesChecker/issues/31",
      "repo_name":"poundifdef/VirginMobileMinutesChecker",
      "body":"Fixes widget display and prevents displaying incorrect data when search fails",
      "user":{
        "id":153,
        "nickname":"christophermanning",
        "gravatar_id":"3f9394a7fb1070144a59644462eb4916",
        "github_profile":"https://github.com/christophermanning",
        "contributions_count":12,
        "link":"https://24pullrequests.com/users/christophermanning"
      }
    }
  ]
</pre>
<p>
  <%= t("api.pull_requests.meta_details") %>
</p>
<pre>
  $ curl https://24pullrequests.com/pull_requests/meta.json

  {
    "count": 500,
    "total_pages": 20
  }
</pre>
<h2>
  <%= t("api.users.title") %>
</h2>
<p>
  <%= t("api.users.details") %>
</p>
<pre>
  $ curl https://24pullrequests.com/users.json

  [
     {
        id:120,
        nickname:"dr-zion-schaefer",
        gravatar_id:"fde332d18b14c52bc41b50f4952f075a",
        github_profile:"https://github.com/dr-zion-schaefer",
        contributions_count:20,
        link:"http://localhost:3000/users/dr-zion-schaefer",
        organisations:[
           {
              login:"consequuntur",
              avatar_url:"https://1.gravatar.com/avatar/....",
              link:"http://localhost:3000/organisations/75"
           },
           {
              login:"tempore",
              avatar_url:"https://1.gravatar.com/avatar/....",
              link:"http://localhost:3000/organisations/76"
           }
        ],
        pull_requests:[
           {
              title:"voluptatem",
              issue_url:"http://runolfonvonrueden.net/rebecca",
              repo_name:"ipsam",
              body:"Fuga ut quo in et nulla quae. Ullam tempora vitae quis.",
              created_at:"2013-11-20T17:47:27.855Z"
           },
           {
              title:"omnis",
              issue_url:"http://kunde.org/lea_yundt",
              repo_name:"porro",
              body:"Qui nesciunt laudantium rerum voluptatem corporis ratione.",
              created_at:"2013-11-21T17:47:27.850Z"
           },
           {
              title:"expedita",
              issue_url:"http://hirthe.name/josefina",
              repo_name:"numquam",
              body:"Reprehenderit nostrum laudantium quis ducimus ut.",
              created_at:"2013-12-09T17:47:27.691Z"
           }
        ]
     },
     {
        id:33,
        nickname:"kaitlin-walter",
        gravatar_id:"0f9f17758e76da17ff4ade389e566321",
        github_profile:"https://github.com/kaitlin-walter",
        contributions_count:20,
        link:"http://localhost:3000/users/kaitlin-walter",
        organisations:[

        ],
        pull_requests:[
           {
              title:"quia",
              issue_url:"http://robel.info/pamela",
              repo_name:"aliquid",
              body:"Quae beatae dolores mollitia qui sapiente officiis non.",
              created_at:"2013-12-05T13:15:05.000Z"
           },
           {
              title:"modi",
              issue_url:"http://torp.info/marta",
              repo_name:"ut",
              body:"Pariatur non placeat non magnam.",
              created_at:"2013-12-05T13:15:05.000Z"
           },
           {
              title:"aut",
              issue_url:"http://homenick.org/lolita.rosenbaum",
              repo_name:"id",
              body:"Sed sit maiores minus molestiae quod fuga ea.",
              created_at:"2013-12-05T13:15:05.000Z"
           }
        ]
     }
  ]
</pre>
<p>
  <%= t("api.users.specific") %>
</p>
<pre>
  $ curl https://24pullrequests.com/users/andrew.json

  {
     id:183,
     nickname:"andrew",
     gravatar_id:"8ddbf811da78bb0daeeb3cacd7cf743f",
     github_profile:"https://github.com/andrew",
     contributions_count:15,
     link:"http://localhost:3000/users/andrew",
     organisations:[
        {
           login:"eius",
           avatar_url:"https://1.gravatar.com/avatar/.....",
           link:"http://localhost:3000/organisations/5"
        },
        {
           login:"corrupti",
           avatar_url:"https://1.gravatar.com/avatar/.....",
           link:"http://localhost:3000/organisations/66"
        },
        {
           login:"soluta",
           avatar_url:"https://1.gravatar.com/avatar/.....",
           link:"http://localhost:3000/organisations/86"
        }
     ],
     pull_requests:[
        {
           title:"molestiae",
           issue_url:"http://braunhilpert.org/hardy",
           repo_name:"fugiat",
           body:"Velit dicta ratione maxime rerum qui aut neque.",
           created_at:"2013-11-25T17:47:32.249Z"
        },
        {
           title:"eveniet",
           issue_url:"http://jacobshagenes.name/alba_hintz",
           repo_name:"maiores",
           body:"Assumenda quo veritatis non vero fugiat voluptatem rerum.",
           created_at:"2013-11-26T17:47:32.244Z"
        },
        {
           title:"et",
           issue_url:"http://hane.info/dameon",
           repo_name:"ipsam",
           body:"Omnis temporibus quia nobis quia labore officiis.",
           created_at:"2013-11-27T17:47:32.239Z"
        },
        {
           title:"eos",
           issue_url:"http://glover.info/zella_erdman",
           repo_name:"tenetur",
           body:"Quibusdam quia autem ipsam. Maiores dolor dolorem rerum sunt.",
           created_at:"2013-11-28T17:47:32.234Z"
        },
        {
           title:"voluptatum",
           issue_url:"http://gutkowski.info/cecil",
           repo_name:"eos",
           body:"Atque qui minus officiis facere. Nam consequatur consequuntur.",
           created_at:"2013-12-09T17:47:32.170Z"
        }
     ]
  }
</pre>
<h2>
  <%= t("api.organisations.title") %>
</h2>
<p>
  <%= t("api.organisations.details") %>
</p>
<pre>
  $ curl https://24pullrequests.com/organisations.json
  [
     {
        login:"Rio-Perl-Mongers",
        avatar_url:"https://1.gravatar.com/avatar/....",
        link:"https://24pullrequests.com/organisations/1",
        users:[
           {
              id:4912,
              nickname:"lorn",
              gravatar_id:"362b77d943afe986bc6ead2bf11d0e3f",
              github_profile:"https://github.com/lorn",
              contributions_count:1,
              link:"https://24pullrequests.com/users/lorn",
              organisations:[
                 {
                    login:"Rio-Perl-Mongers",
                    avatar_url:"https://1.gravatar.com/avatar/....",
                    link:"https://24pullrequests.com/organisations/1"
                 }
              ]
           }
        ]
     },
     {
        login:"enspiral",
        avatar_url:"https://1.gravatar.com/avatar/....",
        link:"https://24pullrequests.com/organisations/2",
        users:[
           {
              id:4913,
              nickname:"fourseven",
              gravatar_id:"b11f4f822d575034efe1226caf580cc4",
              github_profile:"https://github.com/fourseven",
              contributions_count:0,
              link:"https://24pullrequests.com/users/fourseven",
              organisations:[
                 {
                    login:"enspiral",
                    avatar_url:"https://1.gravatar.com/avatar/....",
                    link:"https://24pullrequests.com/organisations/2"
                 }
              ]
           },
           {
              id:2800,
              nickname:"MdreW",
              gravatar_id:"72a90a9901ec355490d9fd1a4489136a",
              github_profile:"https://github.com/MdreW",
              contributions_count:0,
              link:"https://24pullrequests.com/users/MdreW",
              organisations:[
                 {
                    login:"enspiral",
                    avatar_url:"https://1.gravatar.com/avatar/....",
                    link:"https://24pullrequests.com/organisations/2"
                 }
              ]
           },
           {
              id:1406,
              nickname:"infertux",
              gravatar_id:"a175f0d74a9505e2dfde61158b2de2ab",
              github_profile:"https://github.com/infertux",
              contributions_count:0,
              link:"https://24pullrequests.com/users/infertux",
              organisations:[
                 {
                    login:"enspiral",
                    avatar_url:"https://1.gravatar.com/avatar/....",
                    link:"https://24pullrequests.com/organisations/2"
                 },
                 {
                    login:"Ung-UTT",
                    avatar_url:"https://2.gravatar.com/avatar/....",
                    link:"https://24pullrequests.com/organisations/1824"
                 },
                 {
                    login:"buckybox",
                    avatar_url:"https://0.gravatar.com/avatar/....",
                    link:"https://24pullrequests.com/organisations/1825"
                 }
              ]
           }
        ]
     }
  ]
</pre>
<p>
  <%= t("api.organisations.specific") %>
</p>
<pre>
  $ curl https://24pullrequests.com/organisations/uswitch.json

  {
   login:"uswitch",
   avatar_url:"https://1.gravatar.com/avatar/....",
   link:"https://24pullrequests.com/organisations/1945",
   users:[
      {
         id:2969,
         nickname:"jasonneylon",
         gravatar_id:"81b7f1163094366a9200678bf9c05697",
         github_profile:"https://github.com/jasonneylon",
         contributions_count:0,
         link:"https://24pullrequests.com/users/jasonneylon",
         organisations:[
            {
               login:"cleanweb-uk",
               avatar_url:"https://1.gravatar.com/avatar/....",
               link:"https://24pullrequests.com/organisations/1916"
            },
            {
               login:"uswitch",
               avatar_url:"https://1.gravatar.com/avatar/....",
               link:"https://24pullrequests.com/organisations/1945"
            }
         ]
      },
      {
         id:3358,
         nickname:"Quantisan",
         gravatar_id:"34ff435e90c3846663c4ade5a4802c25",
         github_profile:"https://github.com/Quantisan",
         contributions_count:0,
         link:"https://24pullrequests.com/users/Quantisan",
         organisations:[
            {
               login:"Cascading",
               avatar_url:"https://2.gravatar.com/avatar/....",
               link:"https://24pullrequests.com/organisations/2236"
            },
            {
               login:"uswitch",
               avatar_url:"https://1.gravatar.com/avatar/....",
               link:"https://24pullrequests.com/organisations/1945"
            }
         ]
      },
      {
         id:5,
         nickname:"barisbalic",
         gravatar_id:"380ec9b091a6f8d876640230c918c2cc",
         github_profile:"https://github.com/barisbalic",
         contributions_count:7,
         link:"https://24pullrequests.com/users/barisbalic",
         organisations:[
            {
               login:"uswitch",
               avatar_url:"https://1.gravatar.com/avatar/....",
               link:"https://24pullrequests.com/organisations/1945"
            }
         ]
      },
      {
         id:5221,
         nickname:"annez",
         gravatar_id:"ce1098004eeae9c75e29ad9d55ad0528",
         github_profile:"https://github.com/annez",
         contributions_count:0,
         link:"https://24pullrequests.com/users/annez",
         organisations:[
            {
               login:"uswitch",
               avatar_url:"https://1.gravatar.com/avatar/....",
               link:"https://24pullrequests.com/organisations/1945"
            }
         ]
      },
      {
         id:4801,
         nickname:"christianblunden",
         gravatar_id:"46fb7a1cf08a5ba36aec6ab9bf24d0ff",
         github_profile:"https://github.com/christianblunden",
         contributions_count:0,
         link:"https://24pullrequests.com/users/christianblunden",
         organisations:[
            {
               login:"uswitch",
               avatar_url:"https://1.gravatar.com/avatar/....",
               link:"https://24pullrequests.com/organisations/1945"
            }
         ]
      },
      {
         id:4806,
         nickname:"randomvariable",
         gravatar_id:"52e9eb9ba38876d84d99a172bfa2e6dd",
         github_profile:"https://github.com/randomvariable",
         contributions_count:0,
         link:"https://24pullrequests.com/users/randomvariable",
         organisations:[
            {
               login:"uswitch",
               avatar_url:"https://1.gravatar.com/avatar/....",
               link:"https://24pullrequests.com/organisations/1945"
            }
         ]
      },
      {
         id:532,
         nickname:"tgk",
         gravatar_id:"00f49762dbd87490ec9bf790579f2574",
         github_profile:"https://github.com/tgk",
         contributions_count:0,
         link:"https://24pullrequests.com/users/tgk",
         organisations:[
            {
               login:"uswitch",
               avatar_url:"https://1.gravatar.com/avatar/....",
               link:"https://24pullrequests.com/organisations/1945"
            }
         ]
      }
   ]
  }
</pre>
