<h1>Contributing</h1>
<p>There are lots of different ways that you can contribute to open source projects:</p>
<ul>
  <li>
    <p>
      <strong>Open issues -</strong>
      often projects will have open issues that you can help out with, providing support or patches so they can be closed.
    </p>
  </li>
  <li>
    <p>
      <strong>New features -</strong>
      perhaps a library is missing a killer feature, can you add it? Often it’s worth speaking with the maintainer before starting big features to see if it will be merged.
    </p>
  </li>
  <li>
    <p>
      <strong>Documentation fixes -</strong>
      clarifications of parts you find confusing, inconsistencies with current behavior, spelling and grammar fixes, etc.
    </p>
  </li>
  <li>
    <p>
      <strong>Convention fixes -</strong>
      are most binary checks named IsFoo() but one is named Foo_exists() ? Do a quick refactor patch for it. Is one Exception named oddly, or have an unclear message?
    </p>
  </li>
  <li>
    <p>
      <strong>Examples -</strong>
      does an example highlighting something you’re confused about exist? Once you figure it out, whip up an example and contribute. Others are also confused about it - I promise.
    </p>
  </li>
  <li>
    <p>
      <strong>Code commenting -</strong>
      do the comments contradict the code? Is there something in the code that confuses you? Once you figure it out, fix it and submit.
    </p>
  </li>
  <li>
    <p>
      <strong>Testing -</strong>
      clone the repo and run the tests. Do you get any failures? Do you notice any areas lacking in coverage? Testing is also a great way to find out more about the internal workings of the project.
    </p>
  </li>
</ul>
<h3>Other guides to contributing</h3>
<ul>
  <li>
    <%= link_to 'About Pull Requests', 'https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests' %>
  </li>
  <li>
    <%= link_to 'A quick guide to pull requests', 'https://beust.com/weblog/2010/09/15/a-quick-guide-to-pull-requests/' %>
  </li>
  <li>
    <%= link_to 'You (yes, you!) should contribute to open source', 'https://changelog.com/you-yes-you-should-contribute-to-open-source/' %>
  </li>
  <li>
    <%= link_to 'How to contribute a patch to a GitHub hosted Open Source project', 'https://www.hanselman.com/blog/GetInvolvedInOpenSourceTodayHowToContributeAPatchToAGitHubHostedOpenSourceProjectLikeCode52.aspx' %>
  </li>
  <li>
    <%= link_to 'Finding ways to contribute to open source on GitHub', 'https://docs.github.com/en/get-started/exploring-projects-on-github/finding-ways-to-contribute-to-open-source-on-github' %>
  </li>
  <li>
    <%= link_to 'Welcome! Let us do some Open Source!', 'https://www.firsttimersonly.com/' %>
  </li>
  <li>
    <%= link_to 'How to find your first open source bug to fix', 'https://www.freecodecamp.org/news/finding-your-first-open-source-project-or-bug-to-work-on-1712f651e5ba/#.9wo026gn4' %>
  </li>
  <li>
    <%= link_to '[For maintainers] How to attract new contributors to your open source project', 'https://medium.freecodecamp.com/how-to-attract-new-contributors-to-your-open-source-project-46f8b791d787#.lzb5gev6q' %>
  </li>
  <li>
    <%= link_to 'Hey newbie open source contributors: please blog more.', 'https://www.freecodecamp.org/news/how-to-attract-new-contributors-to-your-open-source-project-46f8b791d787/#.lzb5gev6q' %>
  </li>
  <li>
    <%= link_to 'A Beginner’s Very Bumpy Journey Through The World of Open Source -- this one is purely for motivational purposes', 'https://www.freecodecamp.org/news/a-beginners-very-bumpy-journey-through-the-world-of-open-source-4d108d540b39/#.tittxeaqv' %>
  </li>
  <li>
    <%= link_to 'This December — Squash Open Source Inclusion Bugs!', 'https://medium.com/@sunnydeveloper/squash-inclusion-bugs-982a3e5ee29d' %>
  </li>
</ul>
<h3>Other ways to find projects</h3>
<p>Looking for other projects to help? Check out these great initiatives:</p>
<h4>
  <%= link_to 'CodeTriage', 'https://www.codetriage.com/' %>
</h4>
<p>
  <%= t("information.codetriage") %>
</p>
<h4>
  <%= link_to 'Ovio.org', 'https://www.ovio.org/projects' %>
</h4>
<p>
  <%= t("information.ovio") %>
</p>
