<h1>Contributing</h1>
<p>There are lots of different ways that you can contribute to open source projects:</p>
<ul>
  <li>
    <p>
      <strong>Open issues -</strong>
      often projects will have open issues that you can help out with, providing support or patches so they can be closed.
    </p>
  </li>
  <li>
    <p>
      <strong>New features -</strong>
      perhaps a library is missing a killer feature, can you add it? Often it’s worth speaking with the maintainer before starting big features to see if it will be merged.
    </p>
  </li>
  <li>
    <p>
      <strong>Documentation fixes -</strong>
      clarifications of parts you find confusing, inconsistencies with current behavior, spelling and grammar fixes, etc.
    </p>
  </li>
  <li>
    <p>
      <strong>Convention fixes -</strong>
      are most binary checks named IsFoo() but one is named Foo_exists() ? Do a quick refactor patch for it. Is one Exception named oddly, or have an unclear message?
    </p>
  </li>
  <li>
    <p>
      <strong>Examples -</strong>
      does an example highlighting something you’re confused about exist? Once you figure it out, whip up an example and contribute. Others are also confused about it - I promise.
    </p>
  </li>
  <li>
    <p>
      <strong>Code commenting -</strong>
      do the comments contradict the code? Is there something in the code that confuses you? Once you figure it out, fix it and submit.
    </p>
  </li>
  <li>
    <p>
      <strong>Testing -</strong>
      clone the repo and run the tests. Do you get any failures? Do you notice any areas lacking in coverage? Testing is also a great way to find out more about the internal workings of the project.
    </p>
  </li>
</ul>
<h3>Other guides to contributing</h3>
<ul>
  <li>
    <%= link_to 'Using Pull Requests', 'https://help.github.com/articles/using-pull-requests' %>
  </li>
  <li>
    <%= link_to 'A quick guide to pull requests', 'http://beust.com/weblog/2010/09/15/a-quick-guide-to-pull-requests/' %>
  </li>
  <li>
    <%= link_to 'You (yes, you!) should contribute to open source', 'http://thechangelog.com/you-yes-you-should-contribute-to-open-source/' %>
  </li>
  <li>
    <%= link_to 'How to contribute a patch to a GitHub hosted Open Source project', 'http://www.hanselman.com/blog/GetInvolvedInOpenSourceTodayHowToContributeAPatchToAGitHubHostedOpenSourceProjectLikeCode52.aspx' %>
  </li>
  <li>
    <%= link_to 'Tips for Contributing Open Source Projects (for beginners)', 'https://stanthecoder.me/some-tips-for-contributing-open-source-projects/' %>
  </li>
  <li>
    <%= link_to 'Contributing to Open Source on GitHub', 'https://guides.github.com/activities/contributing-to-open-source/' %>
  </li>
  <li>
    <%= link_to 'Welcome! Let us do some Open Source!', 'http://www.firsttimersonly.com/' %>
  </li>
</ul>
<h3>Other ways to find projects</h3>
<p>Looking for other projects to help? Check out these great initiatives:</p>
<h4>
  <%= link_to 'CodeMontage', 'http://codemontage.com/' %>
</h4>
<p>
  <%= t("information.codemontage") %>
</p>
<h4>
  <%= link_to 'CodeTriage', 'http://www.codetriage.com/' %>
</h4>
<p>
  <%= t("information.codetriage") %>
</p>
<h4>
  <%= link_to 'DocsDoctor', 'http://www.docsdoctor.org/' %>
</h4>
<p>
  <%= t("information.docsdoctor") %>
</p>
<h4>
  <%= link_to 'RubyIssues', 'https://rubyissues.ongoodbits.com/' %>
</h4>
<p>
  <%= t("information.rubyissues") %>
</p>
<h4>
  <%= link_to 'issuehub.io', 'http://issuehub.io/' %>
</h4>
<p>
  <%= t("information.issuehubio") %>
</p>
<h4>
  <%= link_to 'ContribHub', 'http://contribhub.org/' %>
</h4>
<p>
  <%= t("information.contribhub.tagline") %>
</p>
<p>
  <%= t("information.contribhub.description") %>
</p>
