.container.block.intro
  .row
    .col-md-4.intro-block
      %span.octicon.octicon-gift
      %h4=t("homepage.greeting")
      %p=t("homepage.give_to_open_source")
    .col-md-4.intro-block
      %span.octicon.octicon-git-pull-request
      %h4=t("homepage.involved.title")
      %p=t("homepage.involved.description")
      %p
        =t("homepage.involved.special_page", contributing_path: link_to(t("homepage.involved.contributing_path"), contributing_path)).html_safe
        =t("homepage.involved.take_a_look")
    .col-md-4.intro-block
      %span.octicon.octicon-checklist
      %h4=t("homepage.profile.title")
      %p=t("homepage.profile.description")
      %p=t("homepage.profile.getting_started")
  - unless logged_in?
    .row
      .col-md-12
        .cta-block
          = link_to login_path, :class => 'btn cta' do
            %span.octicon.octicon-mark-github
            %strong=t("homepage.login_with_github")
        = render :partial => 'shared/social_buttons'

.container.tips
  .row
    .col-md-4.tip-block
      %h4.subtitle
        %span.octicon.octicon-radio-tower
        =t("homepage.event.title")
      %p=t("homepage.event.description")
      = link_to t("homepage.event.view_events"), events_path, class: "btn btn-primary"
      = link_to t("homepage.event.host_an_event"), new_event_path, class: "btn btn-default"

    .col-md-4.tip-block
      %h4.subtitle
        %span.octicon.octicon-checklist
        =t("homepage.badges.title")
      %p=t("homepage.badges.description")
      .center
        = link_to image_tag('24-participant.png'), 'https://coderwall.com', :rel => 'tooltip', :title => t("homepage.badges.involved_link"), :class => "coderwall-badge-link"
        = link_to image_tag('24-continuous-sync.png'), 'https://coderwall.com', :rel => 'tooltip', :title => t("homepage.badges.amazing"), :class => "coderwall-badge-link"

    .col-md-4.tip-block
      %h4.subtitle
        %span.octicon.octicon-question
        =t("homepage.q_n_a")
      %p=t("homepage.join_the_chat", link_to_chat: link_to('24pullrequests/24pullrequests', 'https://gitter.im/24pullrequests/24pullrequests')).html_safe

.container
  .row.avatar-block
    .col-md-6.two-up-split.left
      .block
        %h3.block-title
          = number_with_delimiter User.count
          = t("developers_involved")
        %p=t("developers_involved_desc")
        = link_to t("view_all"), users_path, :class => 'btn btn-default btn-sm'

        %ul.avatar-list.avatar-list-lg.clearfix
          = render @users
    .col-md-6.two-up-split.right
      .block
        %h3.block-title
          =t("organisations.title", count: number_with_delimiter(Organisation.count))
        %p=t("organisations_involved_desc")
        = link_to t("view_all"), organisations_path, :class => 'btn btn-default btn-sm'
        %ul.avatar-list.avatar-list-lg.clearfix
          = render @orgs
.container
  .row
    .col-md-6.two-up-split.left
      .block
        .title-block
          %span.mega-octicon.octicon-git-pull-request
          %h3.block-title
            =t("pull_requests.latest.count", count: number_with_delimiter(PullRequest.year(current_year).count))
          %p=t("dashboard.pull_requests")
          = link_to t("view_all"), pull_requests_path, :class => 'btn btn-default btn-sm'
        - if @pull_requests.any?
          #pull_requests
            = render @pull_requests
        - else
          %br
          .well
            No pull requests at the moment!
    .col-md-6.two-up-split.right
      .block
        .title-block
          %span.mega-octicon.octicon-repo
          %h3.block-title
            = number_with_delimiter Project.active.count
            = t("suggested_projects")
          %p=t("dashboard.help_out")
          = link_to t("suggest_project"), new_project_path, :class => 'btn btn-default btn-sm'
          = link_to t("view_all"), projects_path, :class => 'btn btn-default btn-sm'
        = render @projects
