.visible-phone
  %h1 24 Pull Requests
  %h3 Giving back little gifts of code for Christmas
  %hr

.row-fluid.clearfix
  .span6
    %h2 What's it all about?
    %hr
    %p 24 Pull Requests is a yearly initiative to encourage developers around the world to send a pull request every day in December up to Christmas.
    %p This is the site to help promote the project, highlighting why, how and where to send your pull requests.
    %p Log in with your GitHub account and we'll track and highlight all your pull requests and suggest projects to work on.
    %hr
    %h4 'Tis the season
    %hr
    %p You've been benefiting from the use of open source projects all year, now is the time to say thanks to the maintainers of those projects, and a little birdy tells me that they love receiving pull requests!

    %hr
    - unless logged_in?
      %p
        = link_to login_path, :class => 'btn' do
          %strong Log in with GitHub
      %hr
    = render :partial => 'shared/social_buttons'


  .span6#info
    #coderwall
      %h4 Earn Coderwall badges
      %hr
      %p We've teamed up with coderwall and created some kickass badges to unlock for participating.
      .center
        = link_to image_tag('24-participant.png'), 'https://coderwall.com', :rel => 'tooltip', :title => 'Participant - Get involved, send at least one pull request before Christmas'
        = link_to image_tag('24-continuous-sync.png'), 'https://coderwall.com', :rel => 'tooltip', :title => "Continous Sync - You're an open source machine, send 24 pull requests during December"

    %h4 Get involved
    %hr
    %p There are loads of ways to get involved in an open source project, improving documentation, helping fix existing issues and bugs, improving code quality and test coverage or adding missing features.
    %p
      = "We've prepared a #{link_to 'special page', contributing_path}, where you can find some information about contributing.".html_safe
      If you are new to open source, please take a look.

    %h4 Build your profile
    %hr
    %p Contributing to open source projects is also a great way to build your profile in the community and improve your CV.
    %p It's really easy to get started, even small contributions can be really valuable to a project.

#users.row-fluid.clearfix
  .span12
    %h3
      = User.count
      Developers already involved
      = link_to 'View All', users_path, :class => 'btn'

    %ul.clearfix
      = render @users
- if @pull_requests.any?
  .row-fluid.clearfix
    .span12
      %h3
        Latest Pull Requests (#{@pull_requests.count} total)
        = link_to 'View All', pull_requests_path, :class => 'btn pull-right'

    #pull_requests
      = render @pull_requests
  %hr
.row-fluid.clearfix
  .span12
    %h3
      = Project.count
      Suggested Projects
      = link_to 'Suggest a project', new_project_path, :class => 'btn pull-right'
      = link_to 'View All', projects_path, :class => 'btn pull-right'
    %p
      Can't think of a project you would like to help out? We've put together a list of popular projects.

  #projects
    = render @projects
%hr

