.visible-phone
  %h1 24 Pull Requests
  %h3 Giving back little gifts of code for Christmas
  %hr

.row-fluid.clearfix
  .span6
    %h2 What it's all about?
    %hr
    %p 24 Pull Requests is a yearly initiative to encourage developers around the world to send a pull request every day in December up to Xmas.
    %p This is the site to help promote the project, highlighting why, how and where to send your pull requests.
    %p Login with your Github account and we'll track and highlight all your pull requests and suggests projects to work on.
    %hr
    %p
      = link_to login_path, :class => 'btn' do
        %strong Login with Github
    %hr
    = render :partial => 'shared/social_buttons'

  .span6
    %h4 'Tis the season
    %hr
    %p You've been benefiting from the use of open source projects all year, now is the time to say thanks to the maintainers of those projects, and a little birdy tells me that they love recieving pull requests!

    %h4 Get involved
    %hr
    %p There are loads of ways to get involved in an open source project, improving documentation, helping fix existing issues and bugs, improving code quality and test coverage or adding missing features.

    %h4 Build your profile
    %hr
    %p Contributing to open source projects is also a great way to build your profile in the community and improve your cv.
    %p It's really easy to get started, even small contributions can be really valuable to a project.

#users.row-fluid.clearfix
  .span12
    %h3 Developers already involved

    %ul.clearfix
      - @users.each do |user|
        %li
          = link_to image_tag(gravatar_url(user.gravatar_id), :width => 80, :height => 80, :alt =>user.nickname), user.nickname, :title => user.nickname

.row-fluid.clearfix
  .span12
    %h3
      Suggested Projects
      = link_to 'Suggest a project', new_project_path, :class => 'btn pull-right'
      = link_to 'View All', projects_path, :class => 'btn pull-right'
    %p
      Can't think of a project you would like to help out? We've put together a list of popular projects.

  #projects
    = render @projects
%hr

