.container.block.intro
  .row
    .col-md-4.intro-block
      %span.octicon.octicon-gift
      %h4=t("homepage.greeting")
      %p=t("homepage.give_to_open_source")
    .col-md-4.intro-block
      %span.octicon.octicon-git-pull-request
      %h4=t("homepage.involved.title")
      %p=t("homepage.involved.description")
      %p
        =t("homepage.involved.special_page", contributing_path: link_to(t("homepage.involved.contributing_path"), contributing_path)).html_safe
        =t("homepage.involved.take_a_look")
    .col-md-4.intro-block
      %span.octicon.octicon-checklist
      %h4=t("homepage.profile.title")
      %p=t("homepage.profile.description")
      %p=t("homepage.profile.getting_started")
  - unless logged_in?
    .row
      .col-md-12
        .cta-block
          = link_to login_path, :class => 'btn cta' do
            %span.octicon.octicon-mark-github
            %strong Log in with GitHub
        = render :partial => 'shared/social_buttons'

.container.tips
  .row
    .col-md-4.tip-block
      %h4.subtitle
        %span.octicon.octicon-radio-tower
        =t("homepage.event.title")
      %p=t("homepage.event.description")
      = link_to t("homepage.event.view_events"), events_path, class: "btn btn-primary"
      = link_to t("homepage.event.host_an_event"), new_event_path, class: "btn btn-default"

    .col-md-4.tip-block
      %h4.subtitle
        %span.octicon.octicon-checklist
        =t("homepage.badges.title")
      %p=t("homepage.badges.description")
      .center
        = link_to image_tag('24-participant.png'), 'https://coderwall.com', :rel => 'tooltip', :title => t("homepage.badges.involved_link"), :class => "coderwall-badge-link"
        = link_to image_tag('24-continuous-sync.png'), 'https://coderwall.com', :rel => 'tooltip', :title => t("homepage.badges.amazing"), :class => "coderwall-badge-link"

    .col-md-4.tip-block
      %h4.subtitle
        %span.octicon.octicon-question
        =t("homepage.q_n_a")
      %p=t("homepage.join_the_chat", link_to_chat: link_to('24pullrequests/24pullrequests', 'https://gitter.im/24pullrequests/24pullrequests')).html_safe

.block.container
  .fullwidth-panel.row.clearfix
    .col-md-12
      %h3
        = User.count
        = t("developers_involved")
        = link_to t("view_all"), users_path, :class => 'btn btn-default'

      %ul.avatar-list.avatar-list-lg.clearfix
        = render @users
  - if @pull_requests.any?
    .row.clearfix
      .col-md-12
        %h3
          =t("pull_requests.latest.count", count: PullRequest.year(current_year).count)
          = link_to t("view_all"), pull_requests_path, :class => 'btn btn-default pull-right'

        #pull_requests
          = render @pull_requests

  .row.clearfix
    .col-md-12
      %h3
        = Project.count
        =t("suggested_projects")
        = link_to t("suggest_project"), new_project_path, :class => 'btn btn-default pull-right'
        = link_to t("view_all"), projects_path, :class => 'btn btn-default pull-right'
      %p
        =t("dashboard.help_out")

    #projects
      = render @projects
  .fullwidth-panel.row.clearfix
    .col-md-12
      %h3
        =t("organisations.title", count: Organisation.count)
        = link_to t("view_all"), organisations_path, :class => 'btn btn-default'

      %ul.avatar-list.avatar-list-lg.clearfix
        = render @orgs
  %hr
