%h2=t("about.sponsors.title")

%p= "#{t("about.sponsors.details")} #{t("about.sponsors.thanks")}"

%section.clearfix
  =link_to 'http://dnsimple.com', :class => 'col-md-3' do
    = image_tag 'sponsors/dnsimple.png', :class => 'thumbnail'
  = link_to 'http://postgres.heroku.com/', :class => 'col-md-3' do
    = image_tag 'sponsors/heroku-pg.png', :class => 'thumbnail'
  = link_to 'http://bugsnag.com/', :class => 'col-md-3' do
    = image_tag 'sponsors/bugsnag.jpg', :class => 'thumbnail'
  = link_to 'https://pullreview.com/', :class => 'col-md-3' do
    = image_tag 'sponsors/pullreview.png', :class => 'thumbnail'
  = link_to 'https://sendgrid.com/', :class => 'col-md-3' do
    = image_tag 'sponsors/sendgrid.png', :class => 'thumbnail'

%p
  =t("about.sponsors.get_in_touch")
  = mail_to 'info@24pullrequests.com'

%section
  %h3=t("about.sponsors.pullreview.title")

  %p= t("about.sponsors.pullreview.intro_html")

  %p= t("about.sponsors.pullreview.maintainer_html")

  %p= t("about.sponsors.pullreview.contributor_html")

  %p= t("about.sponsors.pullreview.gifts")
