%h2=t("about.sponsors.title")

%p= "#{t("about.sponsors.details")} #{t("about.sponsors.thanks")}"

%section.clearfix
  =link_to 'http://dnsimple.com', :class => 'col-md-3' do
    = image_tag 'sponsors/dnsimple.png', :class => 'thumbnail', :alt => 'dnsimple'
  = link_to 'http://bugsnag.com/', :class => 'col-md-3' do
    = image_tag 'sponsors/bugsnag.jpg', :class => 'thumbnail', :alt => 'Bugsnag'

%p
  =t("about.sponsors.get_in_touch")
  = mail_to 'info@24pullrequests.com'
