<h2>
  <%= t("about.sponsors.title") %>
</h2>
<p>
  <%= "#{t("about.sponsors.details")} #{t("about.sponsors.thanks")}" %>
</p>
<section class="clearfix">
  <%= link_to 'https://libraries.io/', :class => 'col-md-3' do %>
    <%= image_tag 'sponsors/libraries.png', :class => 'thumbnail', :alt => 'Libraries.io' %>
  <% end %>
  <%= link_to 'http://bugsnag.com/', :class => 'col-md-3' do %>
    <%= image_tag 'sponsors/bugsnag.png', :class => 'thumbnail', :alt => 'Bugsnag' %>
  <% end %>
  <%= link_to 'http://dnsimple.com', :class => 'col-md-3' do %>
    <%= image_tag 'sponsors/dnsimple.png', :class => 'thumbnail', :alt => 'dnsimple' %>
  <% end %>
</section>
<p>
  <%= t("about.sponsors.get_in_touch") %>
  <%= mail_to 'info@24pullrequests.com' %>
</p>
