<h2>
  <%= t("about.sponsors.title") %>
</h2>
<p>
  <%= "#{t("about.sponsors.details")} #{t("about.sponsors.thanks")}" %>
</p>
<section class="clearfix">
  <%= link_to 'http://dnsimple.com', :class => 'col-md-3' do %>
    <%= image_tag 'sponsors/dnsimple.png', :class => 'thumbnail', :alt => 'dnsimple' %>
  <% end %>
  <%= link_to 'http://bugsnag.com/', :class => 'col-md-3' do %>
    <%= image_tag 'sponsors/bugsnag.jpg', :class => 'thumbnail', :alt => 'Bugsnag' %>
  <% end %>
  <%= link_to 'https://www.sendgrid.com/', :class => 'col-md-3' do %>
    <%= image_tag 'sponsors/sendgrid.png', :class => 'thumbnail', :alt => 'Sendgrid' %>
  <% end %>
  <%= link_to 'https://postgres.heroku.com/', :class => 'col-md-3' do %>
    <%= image_tag 'sponsors/heroku-pg.png', :class => 'thumbnail', :alt => 'Heroku Postgres' %>
  <% end %>
  <%= link_to 'https://www.sidekickjs.com/', :class => 'col-md-3' do %>
    <%= image_tag 'sponsors/sidekick.png', :class => 'thumbnail', :alt => 'Sidekick' %>
  <% end %>
</section>
<p>
  <%= t("about.sponsors.get_in_touch") %>
  <%= mail_to 'info@24pullrequests.com' %>
</p>
