%h2 Set your Email Preferences 

%p At the frequency you choose, we'll send you helpful emails from now until the project is over, highlighting some suggested projects you might consider contributing to. As an added bonus, we'll take the liberty of personalizing our suggestions to your language proficiency based on the repos in your GitHub profile. Alternatively, you can choose your languages below.

- if current_user.email_frequency.present?
  %small= link_to 'Want to delete your account?', delete_dashboard_path, :class => 'pull-right'

%p 
  %em You can always change your email preferences later.

= simple_form_for current_user, :url => update_preferences_path, :html => {:class => 'form-horizontal'}  do |form|
  = form.input :email
  = form.input :email_frequency, :collection => [['Never', 'none'], ['Daily', 'daily'], ['Weekly', 'weekly']], :selected => (form.object.email_frequency || 'daily')
  - if current_user.twitter_linked?
    .control-group
      %label.control-label Twitter Account
      .controls
        = link_to "@#{current_user.twitter_nickname}", "https://twitter.com/#{current_user.twitter_nickname}", target: '_blank'
        = link_to '<i class="icon-twitter"></i> Remove Account'.html_safe, twitter_remove_path, method: :delete, class: 'btn btn-danger'

  %h3 Which languages do you know?
  #skills.clearfix
    = form.simple_fields_for :skills, Project::LANGUAGES.map{|l| Skill.new(:language => l)} do |skill_form|
      - language = skill_form.object.language
      .control-group.string
        %label.control-label{:for => language}= language
        .controls
          = skill_form.check_box :language, {:id => language, :checked => current_user.skills.map(&:language).include?(language)}, language

  .control-group
    .controls
      = form.button :submit, 'Save and Continue'

