%h2=t("preferences.title")

%p=t("preferences.coderwall")
= simple_form_for current_user, :url => update_coderwall_path, wrapper: :bootstrap3_horizontal, defaults: {right_column_html: {class: "col-lg-3 col-md-3"}, label_html: {class: "col-lg-3 col-md-3"} }, :html => {:class => 'form-horizontal', :role => "form"}, :method => 'post'  do |form|
  = form.input :coderwall_username, :label => t("preferences.coderwall_username"), :input_html => {:class => "pull-left"}
  .form-group
    .col-md-offset-3.col-sm-10
      = form.button :submit, t('user.coderwall.update_button')

%hr

%p=t("preferences.frequency_message")

- if current_user.email_frequency.present?
  %small= link_to t("preferences.delete"), delete_dashboard_path, :class => 'pull-right'

%p
  %em=t("preferences.information")

= simple_form_for current_user, :url => update_preferences_path, wrapper: :bootstrap3_horizontal, defaults: {right_column_html: {class: "col-lg-3 col-md-3"}, label_html: {class: "col-lg-3 col-md-3"} }, :html => {:class => 'form-horizontal', :role => "form"}  do |form|
  - if current_user.email.present? && !current_user.confirmed?
    = form.input :email, hint: t("preferences.hint.confirm_email")
  - else
    = form.input :email, :label => t("preferences.form.email")
  = form.input :email_frequency, :label => t("preferences.form.email_frequency"), :collection => [[t("preferences.form.never"), 'none'], [t("preferences.form.daily"), 'daily'], [t("preferences.form.weekly"), 'weekly']], :selected => (form.object.email_frequency || 'daily')
  - if current_user.twitter_linked?
    .form-group
      %label.control-label=t("preferences.twitter")
      .controls
        = link_to "@#{current_user.twitter_nickname}", "https://twitter.com/#{current_user.twitter_nickname}", target: '_blank'
        = link_to t("preferences.remove"), twitter_remove_path, method: :delete, class: 'btn btn-danger'


  %hr

  %h3=t("preferences.languages")
  #skills.clearfix
    = form.simple_fields_for :skills, Project::LANGUAGES.map{|l| Skill.new(:language => l)} do |skill_form|
      - language = skill_form.object.language
      .col-sm-3
        .col-sm-10
          .controls
            = skill_form.check_box :language, {:id => language, :checked => current_user.skills.map(&:language).include?(language)}, language
          %label.control-label{:for => language}= language
  .form-group
    .col-md-offset-3.col-sm-10
      = form.button :submit, t("preferences.save_and_continue")
