.title-block
  %h2.block-title
    =t("welcome_back", user: user.nickname)
  =t("dashboard.christmas_activity")

.row
  .col-md-8
    %hr

    - if gift_form
      =t("dashboard.give_a_gift")
      = render :partial => 'gifts/mini_form', :locals => { :gift_form => gift_form }
      %hr
    .pull-right
      = link_to preferences_path, class: "btn btn-default btn-sm" do
        %span.octicon.octicon-gear
        = t("navigation.preferences")
      = link_to pull_request_download_path, :id => 'fetch-pull-requests', :class => 'btn btn-info btn-sm', :rel => 'tooltip', :title => t('pull_request.download.tooltip') do
        = image_tag('spinner.gif', :id => 'spinner') 
        = t('dashboard.synchronize')

    - if true || pull_requests.any?
      %h3
        =t("your_pull_requests")

    %div#pull-requests.clearfix
      = render :partial => 'pull_requests_if_any', :locals => { :pull_requests => pull_requests }

    %hr

    .row.clearfix
      .col-md-12
        .pull-right
          = link_to t("view_all"), projects_path, :class => 'btn btn-default btn-sm'
          = link_to t("suggest_project"), new_project_path, :class => 'btn btn-info btn-sm'
        %h3
          = t("suggested_projects")
        %p
          #{t("dashboard.help_out")}:

        #projects
          = render projects
  .col-md-4
    .sidebar-block
      %h4.block-title= t("homepage.events")
      - @events.each do |event|
        .event-item
          %strong= link_to event.name, event
          %br
          %small
            %span.octicon.octicon-location
            = event.location
            %br
            %span.octicon.octicon-clock
            = event.formatted_date
      = link_to t("view_all"), events_path, :class => 'btn btn-sm btn-default btn-block'
