<div class="title-block">
  <h2 class="block-title">
    <%= t("welcome_back", user: user.nickname) %>
  </h2>
  <%= t("dashboard.christmas_activity") %>
</div>

<div class="row">
  <div class="alert alert-info">
    This year we're making 24 Pull Requests more inclusive and open to all kinds of contributions -
    <%= link_to "Click here to see what's changed", '/2018' %>
  </div>
</div>

<% if Contribution.in_date_range? %>
<div class="row">
  <div class="col-md-12">
    <h3>
      <%= t("contributions.new.title") %>
    </h3>
    <%= render 'contributions/form' %>
    <hr>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="user-pull-requests">
      <div class="pull-right mobile-no-float">
        <%= link_to preferences_path, class: "btn btn-default btn-sm" do %>
          <%= octicon "gear", :height => 16 %>
          <%= t("navigation.preferences") %>
        <% end %>
        <%= link_to pull_request_download_path, :id => 'fetch-pull-requests', :class => 'btn btn-info btn-sm', :rel => 'tooltip', :title => t('pull_request.download.tooltip') do %>
          <%= image_tag('spinner.gif', :id => 'spinner', :alt => ' ') %>
          <%= t('dashboard.synchronize') %>
        <% end %>
      </div>
      <% if contributions.any? %>
        <h3>
          <%= t("your_pull_requests") %>
          <% if contributions.any? %>
            <span class="label label-info" id="pull-requests-count">
              <%= contributions.count %>
            </span>
          <% end %>
        </h3>
      <% end %>
      <div class="clearfix" id="pull-requests">
        <%= render :partial => 'contributions_if_any', :locals => { :contributions => contributions } %>
      </div>
    </div>
    <div class="pull-right mobile-no-float">
      <%= link_to t("view_all"), projects_path, :class => 'btn btn-default btn-sm' %>
      <%= link_to t("suggest_project"), new_project_path, :class => 'btn btn-info btn-sm' %>
    </div>
    <h3>
      <%= t("suggested_projects") %>
    </h3>
    <p>
      <%= t("dashboard.help_out") %>
    </p>
    <div id="projects">
      <%= render projects %>
    </div>
  </div>
  <div class="col-md-4">
    <% if @events.any? %>
      <div class="sidebar-block">
        <h4 class="block-title">
          <%= t("homepage.event.title") %>
        </h4>
        <% @events.each do |event| %>
          <div class="event-item">
            <strong>
              <%= link_to event.name, event %>
            </strong>
            <br/>
            <small>
              <%= octicon "location", :height => 12 %>
              <%= event.location %>
              <br/>
              <%= octicon "clock", :height => 12 %>
              <%= event.formatted_date %>
            </small>
          </div>
        <% end %>
        <%= link_to t("view_all"), events_path, :class => 'btn btn-sm btn-default btn-block' %>
      </div>
    <% end %>
  </div>
</div>
