%h2
  =t("welcome_back", user: user.nickname)

%p=t("dashboard.christmas_activity")

%hr

- if gift_form
  =t("dashboard.give_a_gift")
  = render :partial => 'gifts/mini_form', :locals => { :gift_form => gift_form }
  %hr

= link_to t('twitter.link_account.text'), '/auth/twitter', :class => 'btn btn-info pull-right',
  rel: 'tooltip', title: t('twitter.link_account.tooltip') unless current_user.twitter_linked?
= link_to t("dashboard.synchronize"), pull_request_download_path, :id => 'fetch-pull-requests', :class => 'btn pull-right', :rel => 'tooltip', :title => t('pull_request.download.tooltip')

#spinner
  = image_tag "spinner.gif", :class => 'pull-right'

- unless pull_requests.empty?
  %h3
    =t("your_pull_requests")

%div#pull-requests.clearfix
  = render :partial => 'pull_requests_if_any', :locals => { :pull_requests => pull_requests }

%hr

.row.clearfix
  .col-md-12
    %h3
      = t("suggested_projects")
      = link_to t("suggest_project"), new_project_path, :class => 'btn btn-default pull-right'
      = link_to t("view_all"), projects_path, :class => 'btn btn-default pull-right'
    %p
      #{t("dashboard.help_out")}:

  #projects
    = render projects
