%h2
  Welcome back, #{user.nickname}

%p This is where you can see all the activity we've tracked for you in the run up to Xmas.

%hr

- if gift_form
  Looks like you haven't gifted any code today. Would you like too gift
  = render :partial => 'gifts/mini_form', :locals => { :gift_form => gift_form }
  %hr

%h3
  Your Pull Requests
  = link_to 'Link Your Twitter Account', '/auth/twitter'
  = link_to 'Synchronize Pull Requests', pull_request_download_path, :id => 'fetch-pull-requests', :class => 'btn pull-right'

%div#pull-requests
  = render :partial => 'pull_requests_if_any', :locals => { :pull_requests => current_user.pull_requests }

%hr
.row-fluid.clearfix
  .span12
    %h3
      Suggested Projects
      = link_to 'Suggest a project', new_project_path, :class => 'btn pull-right'
      = link_to 'View All', projects_path, :class => 'btn pull-right'
    %p
      Can't think of a project you would like to help out? We've put together a list of popular projects:

  #projects
    = render projects
