%h2 #{@language}

#users.row-fluid.clearfix
  .span12
    %h3
      = User.by_language(@language).count
      Developers
      %ul.clearfix
        = render @users

.row-fluid.clearfix
  .span12
    %h3
      =project_count_for_language
      Projects

    #projects
      = paginate @projects
      = render @projects

- if @pull_requests.any?
  .row-fluid.clearfix
    .span12
      %h3
        Latest #{@pull_requests.count} Pull Requests (#{pull_request_count_for_language} total)

    #pull_requests
      = render @pull_requests
