%h2 #{@language}

#users.row-fluid.clearfix
  .span12
    %h3
      = User.by_language(@language).count
      Developers
      %ul.clearfix
        = render @users

#projects.row-fluid.clearfix
  .span12
    %h3
      =project_count_for_language
      Projects
      = link_to "Suggest a #{@language} project", new_project_path(language: @language), :class => 'btn pull-right'
      = link_to 'View All', language_projects_path(@language), :class => 'btn pull-right'

    = render @projects

- if @pull_requests.any?
  .row-fluid.clearfix
    .span12
      %h3
        Latest #{@pull_requests.count} Pull Requests (#{pull_request_count_for_language} total)

    #pull_requests
      = render @pull_requests
