%p Hi #{@user.nickname},

%p
  Only
  = 25 - Time.zone.today.day
  - if (25 - Time.zone.today.day) > 1
    days left until Christmas!
  - else
    day left until Christmas!

%p We've got some suggested projects for you to send pull requests to #{this_time}.

%p
  - if @user.pull_requests.year(CURRENT_YEAR).any?
    You can view the pull requests you've made so far at http://24pullrequests.com/dashboard/.
  - else
    You haven't sent any pull requests yet. Once you send a pull request, you can view your progress at http://24pullrequests.com/dashboard/.

%p
  You can customise which types of project we suggest by setting your favourite languages in the preferences area here: http://24pullrequests.com/preferences

%h3 Suggested projects:

%ul
  - @suggested_projects.each do |project|
    %li
      %h4
        = project.name
        (#{project.main_language})
        = link_to project.github_url, project.github_url
      %p= project.description

= render partial: 'reminder_mailer/sign_off_msg'

%p See you #{next_time}!
