<p>
  ♬ On the First day of Christmas my true love sent to me
  <br/>
  a Parser for a Syntax Tree.
</p>
<p>
  On the Second day of Christmas my true love sent to me
  <br/>
  Two passing tests,
  <br/>
  and a Parser for a Syntax Tree. ♬
</p>
<p>We've had a visit from a ghost, the ghost of Christmas yet to come. It showed us a horrible future where projects we used and loved lay unmaintained because contributors took from open-source without contributing. Projects were incompatible with new browsers and only supported old versions of the spec. Security errors stalked the land and many pagers summoned unhappy contributors from their Christmas feasts.</p>
<p>Worst of all, we saw newbies slamming shut their laptops, cursing the day they heard the name of open-source.</p>
<p>Only you can prevent this coming to pass by giving back to the open-source community this Christmas!</p>
<p>
  Joining in is simple - visit
  <%= link_to '24pullrequests.com', 'https://24pullrequests.com' %>
  <%= t("nov_reminder.how_to_contribute") %>
</p>
<p>
  If you need a reminder about what 24 Pull Requests is all about, it's a yearly initiative designed to let you give back little gifts of code over the holiday season. The link above can get you started contributing. However, if you're not ready to start contributing just this moment you can spread the word! Toot your friends to get them involved or say hi to us at
  <%= link_to '@24pullrequests', 'https://mastodon.social/@24pullrequests' %>
</p>
<p>Open source has given so much to all of us, it's time to give 24 little gifts back.</p>
<p>
  This year we're using GitHub Discussions for everyone to hang out in and ask questions:
  <%= link_to 'github.com/24pullrequests/24pullrequests/discussions', 'https://github.com/24pullrequests/24pullrequests/discussions' %>
</p>
<p>See you on December 1st!</p>
<%= render partial: 'reminder_mailer/sign_off_msg' %>
