%p
  ♬ On the First day of Christmas my true love sent to me
  %br
  a Parser for a Syntax Tree.

%p
  On the Second day of Christmas my true love sent to me
  %br
  Two passing tests,
  %br
  and a Parser for a Syntax Tree. ♬

%p We've had a visit from a ghost, the ghost of Christmas yet to come. It showed us a horrible future where projects we used and loved lay unmaintained because developers took from open-source without contributing. Projects were incompatible with new browsers and only supported old versions of the spec. Security errors stalked the land and many pagers summoned unhappy developers from their Christmas feasts.

%p Worst of all, we saw newbies slamming shut their laptops, cursing the day they heard the name of open-source.

%p Only you can prevent this coming to pass by giving back to the open-source community this Christmas!

%p
  Joining in is simple - visit
  = link_to '24pullrequests.com/contributing', 'http://24pullrequests.com/contributing'
  to find out how to contribute a pull-request a day in the run-up to Christmas. Your contributions can be tiny, as simple as fixing a typo, to something incredible. Speed up Rails. Document Express. Fix a big that you reported.

%p
  If you need a reminder about what 24 Pull Requests is all about, it's a yearly initiate designed to let you give back little gifts of code over the holiday season. The link above can get you started contributing. But if you're not ready to start contributing just this moment you can spread the word! Tweet your friends to get them involved or say hi to us at
  = link_to '@24pullrequests', 'https://twitter.com/24pullrequests'

%p Open source has given so much to all of us, it's time to give 24 little gifts back.

%p
  This year we've encouraging people to setup events and allow you to work alongside some great company.
  %br
  Find a list of events at
  = link_to '24pullrequests.com/events', 'http://24pullrequests.com/events'
  or host your own event and list it on the site:
  = link_to '24pullrequests.com/events/new', 'http://24pullrequests.com/events/new'

%p
  We've also got a shiny new gitter chatroom for everyone to hang out in:
  = link_to 'gitter.im/24pullrequests/24pullrequests', 'https://gitter.im/24pullrequests/24pullrequests'

%p See you on December 1st!

%p You can unsubscribe or change frequency of these emails here: #{preferences_url}
