<div class="text-center">
  <h1>Happy Holidays!</h1>
  <%= image_tag 'finished.png', width: 700, class: 'thanks' %>
</div>

<div class="alert alert-info">
  <h2>
    24 Pull Requests is finished for
    <%= Tfpullrequests::Application.last_complete_year %>
  </h2>
  <p>
    In <%= Tfpullrequests::Application.last_complete_year %>, over 24 days,
    <b>
      <%= number_with_delimiter contributors_in(Tfpullrequests::Application.last_complete_year) %>
    </b>
    contributors submitted
    <b>
      <%= number_with_delimiter contributions_in(Tfpullrequests::Application.last_complete_year) %>
    </b>
    contributions to
    <b>
      <%= number_with_delimiter projects_in(Tfpullrequests::Application.last_complete_year) %>
    </b>
    different open source projects.
  </p>
  <p>
    <%= t("information.happy_holidays_see_you") %>
  </p>
  <hr/>
  <p>
    <%= t("information.help_open_source") %>
  </p>
  <h4>
    <%= link_to 'CodeTriage', 'https://www.codetriage.com/' %>
  </h4>
  <p>
    <%= t("information.codetriage") %>
  </p>
  <h4>
    <%= link_to 'Contrib', 'https://gauger.io/contrib' %>
  </h4>
  <p>Browse open source projects with issues for beginners.</p>
  <h4>
    <%= link_to 'Ovio.org', 'https://www.ovio.org/projects' %>
  </h4>
  <p>
    <%= t("information.ovio") %>
  </p>
  <hr/>
  See you on
  <strong>December 1st, <%= Tfpullrequests::Application.last_complete_year+1 %></strong>,
  Happy Hacking!
</div>
