.alert.alert-info
  %h2
    24 Pull Requests is finished for
    = CURRENT_YEAR
  %p
    In #{CURRENT_YEAR}, over 24 days,
    %b= number_with_delimiter contributors_in(CURRENT_YEAR)
    developers submitted
    %b= number_with_delimiter pull_requests_in(CURRENT_YEAR)
    pull requests to
    %b= number_with_delimiter projects_in(CURRENT_YEAR)
    different open source projects.

  %p=t("information.happy_holidays_see_you")
  %hr
  %p=t("information.help_open_source")

  %h4= link_to 'CodeMontage', 'http://codemontage.com/'

  %p=t("information.codemontage")

  %h4= link_to 'CodeTriage', 'http://www.codetriage.com/'

  %p=t("information.codetriage")

  %h4= link_to 'DocsDoctor', 'http://www.docsdoctor.org/'

  %p=t("information.docsdoctor")

  %hr

  See you on
  = succeed(',') do
    %strong December 1st, #{CURRENT_YEAR+1}
  Happy Hacking!
