<div class="alert alert-info">
  <h2>
    24 Pull Requests is finished for
    <%= Tfpullrequests::Application.last_complete_year %>
  </h2>
  <p>
    In <%= Tfpullrequests::Application.last_complete_year %>, over 24 days,
    <b>
      <%= number_with_delimiter contributors_in(Tfpullrequests::Application.last_complete_year) %>
    </b>
    developers submitted
    <b>
      <%= number_with_delimiter pull_requests_in(Tfpullrequests::Application.last_complete_year) %>
    </b>
    pull requests to
    <b>
      <%= number_with_delimiter projects_in(Tfpullrequests::Application.last_complete_year) %>
    </b>
    different open source projects.
  </p>
  <p>
    <%= t("information.happy_holidays_see_you") %>
  </p>
  <hr/>
  <p>
    <%= t("information.help_open_source") %>
  </p>
  <h4>
    <%= link_to 'CodeMontage', 'http://codemontage.com/' %>
  </h4>
  <p>
    <%= t("information.codemontage") %>
  </p>
  <h4>
    <%= link_to 'CodeTriage', 'http://www.codetriage.com/' %>
  </h4>
  <p>
    <%= t("information.codetriage") %>
  </p>
  <h4>
    <%= link_to 'issuehub.io', 'http://issuehub.io/' %>
  </h4>
  <p>
    <%= t("information.issuehubio") %>
  </p>
  <h4>
    <%= link_to 'Pull Request Roulette', 'http://www.pullrequestroulette.com/' %>
  </h4>
  <p>Find open source pull requests that need a reviewer before merging.</p>
  <hr/>
  See you on
  <strong>December 1st, <%= Tfpullrequests::Application.last_complete_year+1 %></strong>,
  Happy Hacking!
</div>
