
%footer
  .dark
    .dark-inner.container
      %ul.unstyled.pull-right
        %li
          #{t("sponsored_by")}&nbsp;
          #{link_to 'DNSimple', 'http://dnsimple.com'}
          &#44;&nbsp;
          = link_to 'Heroku Postgres', 'http://postgres.heroku.com/'
          &nbsp;&amp;&nbsp;
          = link_to 'SendGrid', 'http://sendgrid.com'
      %ul.unstyled.pull-left
        %li
          = link_to t("about_us"), about_path
        %li
          = link_to t("sponsors"), sponsors_path
        %li
          = link_to t("how_to_contribute"), contributing_path
        %li
          = link_to 'API', api_path
        %li
          .locale.dropup
            %button.btn.btn-default.dropdown-toggle{ type: "button", id: "locale", "data-toggle" => "dropdown" }
              =image_tag "flags/#{I18n.locale}.png", class: "flag", alt: " "
              =t("locale.#{I18n.locale}")
              %span.caret
            %ul.dropdown-menu.pull-right{ role:"menu", "aria-labelledby" => "dropdownMenu1"}
              - available_locales.each do |locale|
                %li{ role: "presentation"}
                  =link_to locale_path(locale), role: "menuitem" do
                    =image_tag "flags/#{locale}.png", class: "flag", alt: " "
                    =t("locale.#{locale}")
              %li.divider
              %li{ role: "presentation"}
                =link_to t("locale.translate"), "https://github.com/24pullrequests/24pullrequests/wiki/Adding-a-locale"

= javascript_include_tag "application"
