%head
  %meta{ :charset => "utf-8" }
  %meta{ :'http-equiv' => 'X-UA-Compatible', :content => "IE=Edge,chrome=1" }

  / Facebook open graph api
  %meta{ :property => 'og:title', :content => '24 Pull Requests' }
  %meta{ :property => 'og:type', :content => 'website' }
  %meta{ :property => 'og:url', :content => 'http://24pullrequests.com/' }
  %meta{ :property => 'og:image', :content => "#{root_url}#{image_path('24pr-logo.jpg')}" }
  %meta{ :property => 'og:description', :content => "24 Pull Requests is a yearly initiative to encourage developers around the world to send 24 pull requests between December 1st and December 24th." }

  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"  }
  %title= content_for?(:title) ? yield(:title) : "24 Pull Requests"
  = csrf_meta_tags

  %link{href: 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400', rel: 'stylesheet', type: 'text/css'}
  = stylesheet_link_tag "application", :media => "all"
  = stylesheet_link_tag "//openlayers.org/en/v3.0.0/css/ol.css", :media => "all"

  = javascript_include_tag "//openlayers.org/en/v3.0.0/build/ol.js"
  :plain
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->


  /  For third-generation iPad with high-resolution Retina display:
  /  Size should be 144 x 144 pixels
  = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'

  / For iPhone with high-resolution Retina display:
  / Size should be 114 x 114 pixels
  = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'

  / For first- and second-generation iPad:
  / Size should be 72 x 72 pixels
  = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'

  / For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
  / Size should be 57 x 57 pixels
  = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'

  / For all other devices
  / Size should be 32 x 32 pixels
  = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
