<div class="alert alert-info">
  <h3>
    <%= t("information.title", year: Tfpullrequests::Application.current_year) %>
  </h3>
  <p>
    <%= t("information.last_year_stats", year: Tfpullrequests::Application.current_year,
      developers: contributors_in(Tfpullrequests::Application.current_year),
      pull_requests: pull_requests_in(Tfpullrequests::Application.current_year),
      projects: projects_in(Tfpullrequests::Application.current_year)).html_safe %>
  </p>
  <p>
    <%= t("information.get_ready", year: Tfpullrequests::Application.current_year) %>
  </p>
  <hr/>
  <p>
    <%= t("information.help_open_source") %>
  </p>
  <h4>
    <%= link_to 'CodeMontage', 'http://codemontage.com/' %>
  </h4>
  <p>
    <%= t("information.codemontage") %>
  </p>
  <h4>
    <%= link_to 'CodeTriage', 'http://www.codetriage.com/' %>
  </h4>
  <p>
    <%= t("information.codetriage") %>
  </p>
  <h4>
    <%= link_to 'issuehub.io', 'http://issuehub.io/' %>
  </h4>
  <p>
    <%= t("information.issuehubio") %>
  </p>
</div>
