- if logged_in?
  %nav
    %ul.nav.nav-pills
      %li
        = link_to 'All Projects', projects_path
      %li
        = link_to 'Dashboard', dashboard_path
      %li
        = link_to 'Profile', user_path(current_user)
      %li
        = link_to 'Preferences', preferences_path

      %li.pull-right
        = link_to 'Logout', logout_path

- else # Just for padding
  .faulx-nav
