<% if logged_in? %>
  <nav>
    <ul class="nav nav-pills">
      <li class="logout">
        <%= link_to logout_path, :title => t("navigation.logout") do %>
          <%= octicon "sign-out", :height => 16 %>
          <%= t("navigation.logout") %>
        <% end %>
      </li>
      <li>
        <%= link_to dashboard_path do %>
          <%= octicon "home", :height => 16 %>
          <%= t("navigation.dashboard") %>
        <% end %>
      </li>
      <li>
        <%= link_to user_path(current_user) do %>
          <%= octicon "person", :height => 16 %>
          <%= t("navigation.profile") %>
        <% end %>
      </li>
      <li>
        <%= link_to my_suggestions_path do %>
          <%= octicon "repo", :height => 16 %>
          <%= t("navigation.my_suggestions") %>
        <% end %>
      </li>
      <% if admin? %>
        <li>
          <%= link_to admin_projects_path do %>
            <%= octicon "tools", :height => 16 %>
            <%= t("navigation.manage_projects") %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>
