- if logged_in?
  %nav
    %ul.nav.nav-pills
      %li
        = link_to t("user.nav.all_projects"), projects_path
      %li
        = link_to t("user.nav.dashboard"), dashboard_path
      %li
        = link_to t("user.nav.profile"), user_path(current_user)
      %li
        = link_to t("user.nav.preferences"), preferences_path
      %li
        = link_to t("user.nav.gifted_code"), gifts_path
      %li
        = link_to t("user.nav.my_suggestions"), my_suggestions_path
      - if admin?
        %li
          = link_to t("user.nav.manage_projects"), admin_projects_path

      %li.pull-right
        = link_to t("user.nav.logout"), logout_path

- else # Just for padding
  .faulx-nav
