- if logged_in?
  %nav
    %ul.nav.nav-pills
      %li
        = link_to t("navigation.all_projects"), projects_path
      %li
        = link_to t("navigation.dashboard"), dashboard_path
      %li
        = link_to t("navigation.profile"), user_path(current_user)
      %li
        = link_to t("navigation.preferences"), preferences_path
      %li
        = link_to t("navigation.gifted_code"), gifts_path
      %li
        = link_to t("navigation.my_suggestions"), my_suggestions_path
      - if admin?
        %li
          = link_to t("navigation.manage_projects"), admin_projects_path

      %li.pull-right
        = link_to t("navigation.logout"), logout_path

- else # Just for padding
  .faulx-nav
