!!!
= render 'header'

%body
  = content_for :body_open unless content_for(:body_open).nil?

  - if params[:action] == 'homepage'
    = render 'animated_snow'
  - else
    .snow

  %header
    .container
      .logo
        = link_to image_tag('logo.png', alt: "24 Pull Requests"), root_path

      - if params[:action] == 'homepage'
        .tagline.hidden-phone

      - if logged_in?
        = render 'user_nav'

  %a.forkme{ :href => "https://github.com/24pullrequests/24pullrequests"}
    %img{ :src => 'https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png', :alt => 'Fork me on GitHub'}

  %article#main.container{role: :main}
    .row
      .col-md-12
        - if flash.any?
          .messages
            - if flash[:alert]
              .alert.alert-danger= flash[:alert]
            - if flash[:notice]
              .alert.alert-info= flash[:notice]
        - if unconfirmed_email?
          .alert.alert-info
            You must confirm your email address.
            = link_to "Click here", resend_confirmation_path
            to resend confirmation email.

  - if params[:action] == 'homepage'
    = yield
  - else
    .container.block= yield

= render 'footer'

= render 'gitter_sidecar'
